[2021-06-14 19:12] #1568 closed

[2021-06-14 19:14] #1547 closed

[2021-06-14 19:14] #1598 closed

[2021-06-15 14:35] mcharg commented on #1582
@Maroyafaied This is ready for you to review again.  I took off the "I'm a NRRD" part of the logo and left the bison in brackets, since it's not about the NRRD site and I don't want to have to explain it.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/fbc1f29d-0647-4d7b-9ae6-cde3bda9cc19)

[2021-06-15 15:20] mcharg commented on #1582
Accessible pdf version of the presentation.[OpenSourceInformationArtitecture.pdf](https://app.zenhub.com/files/215585796/b6d438ee-8824-49bb-aa2f-3341407b79f2/download)

[2021-06-15 19:34] mcharg commented on #1582
Presentation turned in.

[2021-06-15 19:34] #1582 closed

[2021-06-15 19:42] Maroyafaied commented on #1582
@mcharg it looks good, I added 2 small comments.

[2021-06-15 19:51] mcharg opened #1604 "Add guidance around gender pronouns to the NRRD content guide"
Per this executive order, federal websites shouldn't use gendered pronouns.
https://www.whitehouse.gov/briefing-room/presidential-actions/2021/01/20/executive-order-preventing-and-combating-discrimination-on-basis-of-gender-identity-or-sexual-orientation/

[2021-06-16 13:01] Maroyafaied opened #1605 "Update A-123 files"
This is due June 22nd. The files need to be updated since we moved to a database and use a consolidated monthly file for revenue and features on the website have changed.

[2021-06-16 16:14] mcharg commented on #1592
Done
https://github.com/ONRR/nrrd/wiki/Analytics

[2021-06-16 16:14] #1592 closed

[2021-06-17 14:29] mojobnichols commented on #1583
Closing because it seems to have been corrected in the data.   If it was manually corrected by us I think we should programmatically correct so we don't have to remember to do it manually in future.

[2021-06-17 14:29] #1583 closed

[2021-06-17 14:33] mojobnichols commented on #1567
I have bandwidth to do this, but I need a label.

My vote is:

Offshore  -  indicating it came from all( or any offshore region).   It stil has Land type indicating it is Federal offshore so that info is not lost.

@Maroyafaied,  @mcharg,  @daniel-coleman-1

[2021-06-17 14:46] mcharg commented on #1567
What about "Other offshore" to make it clear it doesn't include the other ones.

[2021-06-17 15:01] Maroyafaied commented on #1567
@mcharg @mojobnichols I'm good with "Other offshore" if there's no region specified and still having land type as "Federal Offshore"

[2021-06-17 17:38] #1577 closed

[2021-06-17 18:19] Maroyafaied commented on #1567
Not tied to a region. Make issue explaining glossary term.

[2021-06-17 18:30] mcharg commented on #1591
Poll results: https://teams.microsoft.com/l/file/49E3384D-547B-421A-94F5-4F46B908FA39?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FAdmin%2FTeamName.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dbacab56bfd552f819@thread.skype&g

[2021-06-21 15:08] mcharg opened #1607 "Job analysis for IT specialist"

[2021-06-21 15:12] mcharg opened #1608 "Present at Government UX Summit"

[2021-06-21 15:14] mcharg opened #1609 "SEO for state pages"

[2021-06-21 15:15] mcharg opened #1610 "Upload new monthly data"

[2021-06-21 16:29] Maroyafaied commented on #1506
@mcharg Yes, you can assign me and Mojo to it. I'll look at it first to see if it's still an issue.

[2021-06-21 19:19] mcharg opened #1611 "Add FOGRMA Amendments to Federal Laws page"
We link to here on onrr.gov: https://www.onrr.gov/Laws_R_D/PubLaws/PL97451.htm

[2021-06-21 19:43] Maroyafaied opened #1612 "Power Point for All hands meeting"
5 slides or less

[2021-06-23 18:24] CM805 commented on #1591
Maroya is giving the top name choices to Nathan

[2021-06-23 18:24] #1591 closed

[2021-06-23 19:28] #1608 closed

[2021-06-24 15:41] #1590 closed

[2021-06-24 17:16] #1605 closed

[2021-06-24 18:02] mcharg commented on #1602
@Maroyafaied Here's a draft of the proposal. https://doimspp-my.sharepoint.com/:b:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Proposals/FY21/IAAF_Proposal.pdf?csf=1&web=1&e=iSJ2aI

[2021-06-24 22:46] #1567 closed

[2021-06-25 15:20] Maroyafaied commented on #1612
@mcharg @daniel-coleman-1 Let me know if you have any feedback on this presentation, it's supposed to be for only 10 min and to introduce what the team does and how we work. https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B3555f5b1-05a5-4275-861b-0edeefd12129%7D&action=edit&wdPreviousSession=24c3f22c-6cc2-7891-91ca-970aed973c08

[2021-06-25 15:20] Maroyafaied commented on #1612
@daniel-coleman-1 If you'd like me to add a pic for you , please send it to me.

[2021-06-25 15:28] Maroyafaied opened #1617 "Finalize team name"
Nathan would like us to chose 3-5 names and have all of IDM vote on the best name with the option for them to suggest a name.  He doesn't wants us to use NRRD as an acronym and not use Digital Services in the name.  He does like using open data and/or user experience in the team name.

Here are some ideas

- Open Data & User Experience ( Data & User Experience was our top vote so this is just addi

[2021-06-25 17:06] mcharg commented on #1612
@Maroyafaied Looks good.

[2021-06-25 18:04] #1612 closed

[2021-06-25 18:11] Maroyafaied opened #1618 "Label offshore LA data as Gulf of Mexico - CY & FY Production data"
In production CY and FY  file there is a few offshore salt data that has LA listed as a state and no offshore region listed. This should be listed as Offshore and Gulf of Mexico.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/79e721ae-1daa-4a00-a50b-7b5c2fa8daf9)

Email from DORC verifying it's Gulf of Mexico

![image.png](https://images.zenhubusercontent.com/5c58acad0

[2021-06-25 18:11] Maroyafaied opened #1619 "Label offshore LA data as Gulf of Mexico - CY & FY Production data"
In production CY and FY  file there is a few offshore salt data that has LA listed as a state and no offshore region listed. This should be listed as Offshore and Gulf of Mexico.

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/79e721ae-1daa-4a00-a50b-7b5c2fa8daf9)

Email from DORC verifying it's Gulf of Mexico

![image.png](https://images.zenhubusercontent.com/5c58acad0

[2021-06-25 18:14] Maroyafaied opened #1620 "Check database structure"
- look into deployment automated and generate report to help with data checks.

[2021-06-28 13:14] Maroyafaied commented on #1602
@mcharg This looks good, I only have one edit but it's not letting me do it in the document. Here it is
![image](https://user-images.githubusercontent.com/40175688/123642389-79244b80-d7e0-11eb-9a57-be2966bc3e8a.png)

[2021-06-28 14:13] mcharg commented on #1602
@Maroyafaied I fixed the typo and submitted the proposal.

[2021-06-28 14:13] #1602 closed

[2021-06-28 15:23] mojobnichols commented on #1506
@mcharg  I see Coal - fines (circuit) for 2020. I don't see Coal-bitimus raw for 2020 for locations I do see them for other years BUT only for Native American - which doesn't show up on map.

![image.png](https://images.zenhubusercontent.com/5d1a3e771449416ed8985985/47498595-bbb5-4773-8b68-0a45a4cacbb2)

Also Borrow sand & gravel does show up  - Again Native American so you get blank map.

I at fi

[2021-06-29 12:44] #1607 closed

[2021-06-29 12:58] Maroyafaied commented on #1506
@mojobnichols @mcharg We can discuss this at sync up but I think it makes sense to leave it the way it is. We should add a glossary defining "nationwide federal" or mention this does not contain Native American data.

[2021-06-29 15:18] CM805 commented on #1617
@Maroyafaied do you think we should first send something out giving people the option to suggest a name (or you can send out an email asking them to email suggestions to be by a certain date)?  Then we can send a follow up to have people vote on a name.  My concern is that we will have people vote on a name and have more suggestions come in and then have to send a second survey anyways.

[2021-06-29 15:20] Maroyafaied commented on #1617
@CM805 That's a good suggestion, I'll run it by Nathan today during our check in and let you know his thoughts.

[2021-06-29 21:36] mojobnichols commented on #1506
Closing because we are not changing this behavior

[2021-06-29 21:36] #1506 closed

[2021-06-29 21:38] Maroyafaied opened #1621 "Add Native American card as default in explore data"

[2021-06-29 21:39] Maroyafaied opened #1622 "Define glossaries for default cards in explore data"
- Define Nationwide federal
- Define Native American

[2021-06-30 18:31] Maroyafaied commented on #1604
Also add to the onrr.gov content guide.

[2021-06-30 18:32] Maroyafaied commented on #1611
Review emails if this was supposed to be removed.

[2021-06-30 18:48] Maroyafaied commented on #1622
@daniel-coleman-1 draft and add definition in glossary file.  Look into other places on the site to add the definitions to.

[2021-06-30 18:56] #1574 closed

[2021-07-01 18:22] Maroyafaied commented on #1609
@daniel-coleman-1 help google specific state and see if it shows up. Also get access to analytics.

[2021-07-02 12:51] Maroyafaied opened #1623 "Add Native American regulation to content guide"
In the content guide, explain why we use "Native American" and provide the regulation behind it.

[2021-07-02 12:53] Maroyafaied opened #1624 "Research DOI or other gov agencies content guides"
Look into if DOI or other departments have established a content guide or content group.

[2021-07-02 12:55] Maroyafaied opened #1625 "Decide on an approach to content guides"
Decide if we should have a content guide for each website or consolidate into one content guide.

[2021-07-02 12:57] Maroyafaied opened #1626 "Complete content guides"

[2021-07-02 13:01] Maroyafaied opened #1627 "Review monthly data"
I will do one PR for monthly production, revenue and monthly and add the checklist for each data set. @Baymatt @CM805 please review data, you can split the data sets or review different sections of each data set.

[2021-07-02 13:02] Maroyafaied opened #1628 "Work on UX and IT specialist vacancies"

[2021-07-02 13:05] Maroyafaied opened #1629 "June Analytics"
@mcharg please show Daniel how you pull analytics so he's familiar with it once he gets access.

[2021-07-02 13:13] Maroyafaied opened #1630 "Review infrastructure bill"
@mentastc send me this information and I haven't had time to review.

Hi Maroya,

You might be interested in this bill, it's the big one that's got a shot at passing, it has a lot of legislation related to EIA. Might be helpful to see what they might be directed to start reporting on.  Just search Energy Information agency to find the relevant section.

https://www.energy.senate.gov/services/files

[2021-07-02 13:13] Maroyafaied opened #1631 "Review infrastructure bill"
@mentastc send me this information and I haven't had time to review.

Hi Maroya,

You might be interested in this bill, it's the big one that's got a shot at passing, it has a lot of legislation related to EIA. Might be helpful to see what they might be directed to start reporting on.  Just search Energy Information agency to find the relevant section.

https://www.energy.senate.gov/services/files

[2021-07-02 13:38] mcharg opened #1632 "Decide on icons for revenue and disbursements"
I put a bunch of options in chat for the team to provide feedback on.

[2021-07-02 15:17] #1630 closed

[2021-07-04 16:32] arcasarana commented on #1586
Document to edit the copy.  Shared on Teams.

https://teams.microsoft.com/_#/docx/viewer/teams/https:~2F~2Fdoimspp.sharepoint.com~2Fsites~2FNRRD~2FShared%20Documents~2FGeneral~2Fonrr_homepage_graphic_content.docx?threadId=19:34f9f9ee6b0441dbacab56bfd552f819@thread.skype&messageId=-1&baseUrl=https:~2F~2Fdoimspp.sharepoint.com~2Fsites~2FNRRD&fileId=4f667b4c-babd-421a-9de1-449d07ee3166&ctx=chiclet&vi

[2021-07-06 17:22] daniel-coleman-1 commented on #1604
I'm not seeing anything about government websites or gender pronouns in the executive order, the closest I see is:
"It is the policy of my Administration to prevent and combat discrimination on the basis of gender identity or sexual orientation, and to fully enforce Title VII and other laws that prohibit discrimination on the basis of gender identity or sexual orientation."

Gender neutral vocabul

[2021-07-06 18:25] CM805 commented on #1586
@arcasarana can you get a copy of the prototype as a PDF or screenshots.  I'd like to see how the content in the document provided related to what it looks like design-wise.  I did not save what you showed us at the intern meeting.

[2021-07-06 19:21] daniel-coleman-1 commented on #1629
I have access!  Let's get some time on the calendar at your convenience, @mcharg

[2021-07-06 21:11] daniel-coleman-1 commented on #1626
https://digital.gov/resources/style-guides-by-government-agencies/

Includes a list of several agencies' content style guides

[2021-07-06 21:15] daniel-coleman-1 commented on #1625
Approach to style guides:

- [ ]  Evaluate topics from other agencies to determine value to our sites
- [ ]  Create topics list for NRRD
- [ ] Create topics list for ONRR.gov
- [ ] Finalize content guidance inside NRRD topic list
- [ ] Finalize content guidance inside of ONRR.gov topic list
- [ ] Submit for review

If we find it useful to combine the two, or portions of them, we'll do so during th

[2021-07-06 21:19] daniel-coleman-1 commented on #1624
Content guides from 14 federal agencies are posted on this page:
https://digital.gov/resources/style-guides-by-government-agencies/

Closing, saved elsewhere for convenience.

[2021-07-06 21:19] #1624 closed

[2021-07-07 15:27] Maroyafaied opened #1635 "Update how to upload data on wiki and review data checklist"

[2021-07-07 15:48] daniel-coleman-1 commented on #1626
Approach to style guides:

- [ ] Evaluate topics from other agencies to determine value to our sites
- [ ]  Create topics list for NRRD
- [ ]  Create topics list for ONRR.gov
- [ ]  Finalize content guidance inside NRRD topic list
- [ ]  Finalize content guidance inside of ONRR.gov topic list
- [ ]  Submit for review

If we find it useful to combine the two, or portions of them, we'll do so during

[2021-07-07 15:48] #1625 closed

[2021-07-07 17:22] daniel-coleman-1 commented on #1604
https://www.whitehouse.gov/briefing-room/presidential-actions/2021/06/25/executive-order-on-diversity-equity-inclusion-and-accessibility-in-the-federal-workforce/

I think this one also applies here

[2021-07-08 15:44] Maroyafaied opened #1637 "3rd Quarter accomplishment report"
Send 3rd quarter report to Nathan.

[2021-07-08 15:49] Maroyafaied opened #1638 "Join community of practice - Digital.gov"
Look into groups and become a member to anything relevant to our area of knowledge.

https://digital.gov/communities/

[2021-07-08 15:49] #1621 closed

[2021-07-08 17:41] #1610 closed

[2021-07-08 19:47] Maroyafaied opened #1639 "Write Business Justification for Using Slack"
https://marketplace.fedramp.gov/#!/agency/department-of-the-interior?sort=name

The Federal Risk And Management Program Dashboard (fedramp.gov)

[2021-07-08 19:49] Maroyafaied commented on #1639
[Slack Data Sheet.pdf](https://github.com/ONRR/nrrd/files/6786920/Slack.Data.Sheet.pdf)

[2021-07-08 23:09] arcasarana commented on #1586
@CM805 Sorry, Christa!  Just saw your message.  But here it is:

[https://xd.adobe.com/view/6b7d6581-992f-46a5-8d72-035d26beb875-3e2e/](url)

It's a clickable prototype.  On my laptop it's best viewed at 75% - otherwise, the text is a bit small.  Let me know if you make any changes to the Word Doc that you'd like reflected on the copy for the prototype.  The watermark for the last icon won't be th

[2021-07-12 12:55] mcharg commented on #1604
@daniel-coleman-1 In the DOI Web Council meeting, they interpreted the first one to include websites and documents. They did say that agencies don't have to go back and correct everything, but if something new comes out it shouldn't use gendered pronouns.

[2021-07-12 13:21] shannonmcharg commented on #1639
@Maroyafaied Slack is FedRAMP Authorized?!?!

[2021-07-12 13:34] Maroyafaied commented on #1639
@shannonmcharg Yep! I learned that on Thursday. Also GitHub is authorized.  I was told that there's an agency in DOI that uses Slack so our approval shouldn't take long. They would like a few paragraphs explaining how we started using Slack and how we are using it and to mention integration with GitHub.

[2021-07-12 16:04] Maroyafaied commented on #1639
@mcharg Here's my first draft, can you review and add/delete what you see fit. https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Admin/Slack%20Business%20Justification.docx?web=1

[2021-07-12 16:50] mcharg commented on #1639
@Maroyafaied I reviewed and added some stuff.

[2021-07-12 16:56] #1639 closed

[2021-07-12 19:04] mcharg commented on #1611
@Maroyafaied Have you had a chance to take a look at your emails about this?

[2021-07-12 19:16] mcharg commented on #1631
@Maroyafaied I skimmed this and didn't see anything that directly impacts us.

[2021-07-12 20:49] Maroyafaied commented on #1611
@mcharg I forwaded you the email for your reference, they basically asked for us to correct the link to FOGRMA in this page https://onrr.gov/compliance/index.htm.  It should be ok to add the same link to the federal law page as well.

[2021-07-12 21:02] #1631 closed

[2021-07-13 14:01] mcharg commented on #1611
@Maroyafaied I'll add the amendments link we're using on onrr.gov.

[2021-07-13 15:45] Maroyafaied opened #1641 "Onboard Christine"
@mcharg Christine's GitHub username is cthomasONRR

In order to get `Christine` productively contributing to the NRRD website team, `Shannon` should help `Christine` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Shannon`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct acc

[2021-07-13 16:10] mcharg commented on #1629
Instructions for updating NRRD analytics: https://github.com/ONRR/nrrd/wiki/Analytics-Reports

[2021-07-13 19:35] #1629 closed

[2021-07-13 19:45] Maroyafaied commented on #1604
@daniel-coleman-1  Since DOI web council interpreted it to apply to websites, let's add the guidance to the content guide so we are cautious of it. Thanks

[2021-07-13 19:52] Maroyafaied commented on #1622
@daniel-coleman-1 I'd like to include the definitions with the next release , can you draft a definition for Native American clarifying that location is withheld from that data and draft a definition for "Nationwide Federal" clarifying that data is only federal onshore and offshore and doesn't include Native American. data

[2021-07-13 19:56] #1515 closed

[2021-07-13 20:09] Maroyafaied commented on #1628
Send hiring justification for UX and waiting to hear from HR about IT specialist.

[2021-07-13 20:09] #1628 closed

[2021-07-13 23:31] daniel-coleman-1 commented on #1623
https://www.congress.gov/bill/114th-congress/house-bill/4238/text

[2021-07-14 13:15] Maroyafaied opened #1642 "Bug: Query tool displays no data when you click "clear all""
@CM805 found this issue when reviewing data, if you choose filters then click clear all, you get this
![image](https://user-images.githubusercontent.com/40175688/125628181-c646e2ed-775a-4e24-bb7f-ad2032af7340.png)

[2021-07-14 15:08] Maroyafaied commented on #1595
Send Nadia Miller an email.

[2021-07-14 16:02] Maroyafaied opened #1643 "Q2 & Q3 accomplishment report"
@mcharg please add metrics numbers and review. Thanks

Q2 - https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Admin/Data%20Display%20Accomplishments%20-%20FY21%20Q2.docx?web=1

Q3 - https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Admin/Data%20Display%20Accomplishments%20-%20FY%2021%20Q3.docx?web=1

[2021-07-14 16:12] CM805 commented on #1595
@Maroyafaied how would you like me to help with this issue?

[2021-07-14 16:22] Maroyafaied commented on #1595
@CM805 not much to do right now till we see what Nadia says. Thanks

[2021-07-14 16:47] #1637 closed

[2021-07-14 22:24] #1611 closed

[2021-07-14 22:25] #1618 closed

[2021-07-14 22:26] #1627 closed

[2021-07-15 13:43] mcharg commented on #1586
@Maroyafaied Are you good with what's here?  If so, can we close this?
https://xd.adobe.com/view/6b7d6581-992f-46a5-8d72-035d26beb875-3e2e/

[2021-07-15 13:44] mcharg commented on #1632
I think we should use the ones in this prototype.  @Maroyafaied Are you good with that?
https://xd.adobe.com/view/6b7d6581-992f-46a5-8d72-035d26beb875-3e2e/

[2021-07-15 14:07] Maroyafaied commented on #1632
@mcharg Yes, I'm good with it.

[2021-07-15 14:10] #1632 closed

[2021-07-15 14:11] Maroyafaied commented on #1586
The design is good but I see a few content issues. Are we reviewing content in this issue or is there a separate issue for that?

[2021-07-15 14:13] mcharg commented on #1643
@Maroyafaied I added metrics and reviewed.

[2021-07-15 14:15] mcharg commented on #1586
@Maroyafaied I think we have just the one issue.

The content may be updated in this doc.
https://teams.microsoft.com/_#/docx/viewer/teams/https:~2F~2Fdoimspp.sharepoint.com~2Fsites~2FNRRD~2FShared%20Documents~2FGeneral~2Fonrr_homepage_graphic_content.docx?threadId=19:34f9f9ee6b0441dbacab56bfd552f819@thread.skype&messageId=-1&baseUrl=https:~2F~2Fdoimspp.sharepoint.com~2Fsites~2FNRRD&fileId=4f667b4

[2021-07-15 14:16] mcharg opened #1645 "Finalize content for homepage graphic"
https://teams.microsoft.com/_#/docx/viewer/teams/https:~2F~2Fdoimspp.sharepoint.com~2Fsites~2FNRRD~2FShared%20Documents~2FGeneral~2Fonrr_homepage_graphic_content.docx?threadId=19:34f9f9ee6b0441dbacab56bfd552f819@thread.skype&messageId=-1&baseUrl=https:~2F~2Fdoimspp.sharepoint.com~2Fsites~2FNRRD&fileId=4f667b4c-babd-421a-9de1-449d07ee3166&ctx=chiclet&viewerAction=view

[2021-07-15 14:17] Maroyafaied commented on #1643
Send to Nathan.

[2021-07-15 14:17] #1643 closed

[2021-07-15 14:17] mcharg commented on #1586
@Maroyafaied I created #1645 for next sprint to finalize content because there are several outstanding comments in the content doc.

[2021-07-15 14:19] mcharg commented on #1588
Prototype with options @jnwang01 put together.
https://vt4ciw.axshare.com/

@jnwang01 The tops of the ownership cards are cutting off in all the options.  Can you please fix that, so we can review?

[2021-07-15 14:20] Maroyafaied commented on #1586
@mcharg Ok I'll add my comments to that doc.

[2021-07-15 18:04] #1586 closed

[2021-07-15 18:10] Maroyafaied commented on #1609
@jlouis-onrr push out to dev and send url

[2021-07-15 18:13] mojobnichols opened #1647 "Create trigger to create collection of links"

[2021-07-15 18:19] Maroyafaied commented on #1604
update in both NRRD and Onrr.gov content guide.

[2021-07-15 18:21] Maroyafaied commented on #1623
Move to NRRD and take it out of the onrr.gov content guide.

[2021-07-15 18:25] Maroyafaied commented on #1617
I send Nathan email to choose.

[2021-07-15 18:25] #1617 closed

[2021-07-16 15:38] Maroyafaied commented on #1622
@daniel-coleman-1 @mcharg please review the drafted definitions.

Nationwide Federal: This data includes natural resources extracted from United States federal lands and waters.  It does not include Native American lands, privately owned lands or sate-owned lands. Federal data is available by location.

Native American: This data includes natural resources from Native American lands only. Location

[2021-07-16 15:42] mcharg commented on #1622
@Maroyafaied I would change "extracted from" to "produced on".  Otherwise, looks good.

[2021-07-16 15:47] Maroyafaied commented on #1622
@mcharg Thanks, I made the change.  @jlouis-onrr can you these as definitions in explore data cards? Thanks

Nationwide Federal: This data includes natural resources produced on United States federal lands and waters. It does not include Native American lands, privately owned lands or state-owned lands. Federal data is available by location.

Native American: This data includes natural resources p

[2021-07-19 13:23] Maroyafaied opened #1648 "Oil & gas (pre-production) missing in query tool for revenue FY"
The "Oil &Gas (pre-production) is not on the list of commodities for revenue fiscal year but it's there for CY and monthly.

![image](https://user-images.githubusercontent.com/40175688/126166396-afd1f2a3-3add-4539-ab3a-46b193a86c96.png)

![image](https://user-images.githubusercontent.com/40175688/126166467-3ac5fc5a-c887-4e0b-94bf-74dbd197976a.png)

[2021-07-19 15:52] Maroyafaied opened #1649 "Epic: Strawberry Shortcake"
Sprints: NakedNutria, MassiveManatee, LoungingLabradoodle
NRRD:
Finish content guide
Outreach: rename the team, publish Brandi & Sarah blog post, Select interns
Continue Cross training
Receive OGOR B sample data
Receive CY 20 revenue by company data
Finalize content on homepage graphics
Iterate how dataset fit diagram
Fixing bugs
Audit missing terms on glossary
Ask Nathan on team's name
Onboard Pr

[2021-07-19 18:02] #1609 closed

[2021-07-19 18:06] Maroyafaied commented on #1101
@Maroyafaied enable permission in CirCleCI (organization security) , make Jerome and Mojo as admin.

[2021-07-19 18:07] Maroyafaied commented on #1604
@daniel-coleman-1 add this to the NRRD content guide

[2021-07-19 18:15] daniel-coleman-1 opened #1651 "Daniel Axshare Access"
Dan needs access to Axshare

[2021-07-19 18:21] #1626 closed

[2021-07-19 18:22] Maroyafaied commented on #1595
Replied to Nadia. She will let us know response from Stacey on a list of disposition codes to calculate total production.

[2021-07-19 18:22] #1595 closed

[2021-07-19 18:44] daniel-coleman-1 opened #1652 "Daniel Axure Training"
Conduct training and familiarize with the software.
https://www.axure.com/support/video-courses

[2021-07-19 18:51] daniel-coleman-1 opened #1653 "ONRR.gov Site Map Update"

[2021-07-19 18:53] #1653 closed

[2021-07-19 19:22] Maroyafaied opened #1654 "Review data checklist"
We need to review that the data checklist still covers everything, one thing we need to add for monthly data is to check the Monthly snapshot.  Also , we need to add a check box to check the download file against the raw file since the download files are automatically generated now.

[2021-07-19 20:01] Maroyafaied commented on #1101
@mojobnichols @jlouis-onrr I changed both your roles as "owner". Can you check if you have permission now?

[2021-07-19 22:03] daniel-coleman-1 commented on #1604
@Maroyafaied @mcharg this is ready for your review:
https://github.com/ONRR/nrrd/wiki/Content-style-guide

[2021-07-19 22:39] daniel-coleman-1 commented on #1623
Ready for review @mcharg @Maroyafaied

[2021-07-19 23:08] daniel-coleman-1 commented on #1645
Added some updates and some notes

[2021-07-19 23:09] daniel-coleman-1 commented on #1552
Can we link to the graphics here?

[2021-07-20 12:12] mcharg commented on #1604
@daniel-coleman-1 Looks good.

[2021-07-20 12:21] mcharg commented on #1623
@daniel-coleman-1 Looks good.

[2021-07-20 12:35] Maroyafaied commented on #1604
@daniel-coleman-1 looks good.

[2021-07-20 12:50] Maroyafaied commented on #1623
@daniel-coleman-1 looks good.

[2021-07-20 12:53] mcharg commented on #1623
@Maroyafaied I fixed the link.

@daniel-coleman-1 You still say to use Native American on onrr.gov.  Please change it to something indicating that we use Indian on onrr.gov to be consistent with how ONRR uses it as an agency.

[2021-07-20 13:05] Maroyafaied opened #1655 "Add using plain language and active voice to content guide"
This should be added to both content guides.

[2021-07-20 13:11] Maroyafaied commented on #1645
@daniel-coleman-1 I haven't had a chance to look at this yet, but I would like for Nathan to review it and approve it once it's finalized since it'll be on the homepage.

[2021-07-20 14:34] mcharg commented on #1552
https://xd.adobe.com/view/6b7d6581-992f-46a5-8d72-035d26beb875-3e2e/

[2021-07-20 14:39] Maroyafaied commented on #1552
@daniel-coleman-1  this issue is not assigned to the sprint we're in, this can wait till it's assigned.

[2021-07-20 14:52] mcharg commented on #1645
@daniel-coleman-1 I went through and added another round of comments.

[2021-07-20 14:59] daniel-coleman-1 commented on #1655
Added to both the ONRR and NRRD wikis

![Active_voiceJuly20](https://user-images.githubusercontent.com/83892362/126347028-096913bf-d703-4096-995f-84ac99ab5586.jpg)

![Plain_languageJuly20](https://user-images.githubusercontent.com/83892362/126347054-5a2a6233-b86d-4131-a813-1de6f9960fbe.jpg)

[2021-07-20 15:18] daniel-coleman-1 opened #1656 "Add Inclusive Language section to NRRD content guide"
for reference:
https://content-guide.18f.gov/our-style/inclusive-language/

[2021-07-20 15:56] Maroyafaied commented on #1651
@daniel-coleman-1 please put in a non core software request, you have to be on vpn to submit this.  Here's the link and the info I used to fill mine out for your reference.

https://bsee.servicenowservices.com/sp?id=non_core&sys_id=d0f75bf76faa21001481202fae3ee411

Who is this ticket requested for?: Maroya Faied (faiedm)
Non-Core Software: Axure RP 9
Software Title: Axure RP 9
Software Version: 9.

[2021-07-20 16:16] daniel-coleman-1 commented on #1651
Submitted

[2021-07-20 19:28] Maroyafaied commented on #1619
This is already done.

[2021-07-20 19:28] #1619 closed

[2021-07-20 19:29] #1604 closed

[2021-07-20 19:52] #1622 closed

[2021-07-20 20:19] mcharg commented on #1562
I added 38_HomepageGraphic for NRRD, so we could link to it from the blog post.

[2021-07-22 15:22] Maroyafaied commented on #1641
@mcharg

[2021-07-22 15:28] daniel-coleman-1 commented on #1638
(instructions from one of my listservs this morning)
Joining multiple communities can add a significant number of unread emails to your inbox, which can feel overwhelming.
A rule that automatically moves the messages to a folder will still allow you to receive the emails, but lessen the anxiety of having multiple unread emails within your inbox.  You can use the following steps to quickly setup a

[2021-07-23 22:42] jlouis-onrr opened #1657 "Fix - Mobile Usability Issue - Content is wider than screen"
https://search.google.com/search-console/mobile-usability/drilldown?resource_id=https://revenuedata.doi.gov/&item_key=CAk&utm_source=wnc_10030322&utm_medium=gamma&utm_campaign=wnc_10030322&utm_content=msg_100058679&hl=en

[2021-07-26 15:23] cthomasONRR opened #1659 "Standardize how "United States" should be abbreviated"
I'm working on the NRRD Glossary and noticing that we are sometimes abbreviating "United States" as "US" and other times with periods as "U.S." See image below as an example:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/d6f1ca70-5779-4b51-8138-d9d9ec203d90)

@daniel-coleman-1 , could you please make a decision and update the content guide?

Thanks!

[2021-07-26 15:32] daniel-coleman-1 commented on #1659
![Screenshot 2021-07-26 092928](https://user-images.githubusercontent.com/83892362/127016341-d79ad7ed-0a5d-4241-86ef-266698676a69.png)

It's in there, I am thinking this should be a part of the content audit.

[2021-07-26 16:11] cthomasONRR commented on #1659
OK, I will close this issue and we can address it as part of the content audit.

[2021-07-26 16:11] #1659 closed

[2021-07-27 15:58] cthomasONRR commented on #132
I just sent Nadia Miller an email, asking for help in defining "tons - equivalent" :

"Hi Nadia,

I’m hoping you can help the Data Display Team clarify a definition term on the NRRD website.

For solid minerals production, we have the volume in tons. The “tons” definition in the Glossary webpage as “In the U.S., one ton is 2,000 pounds. In some countries this is referred to as a short ton.”

For P

[2021-07-27 16:33] cthomasONRR commented on #1346
@Maroyafaied @mcharg

For this "withheld" issue, it seems like the definition just needs to be clarified... there are 3 possible scenarios as to why data is withheld:

First, data is withheld because it can be used to personally ID individuals.
Second, because it is in violation of the Trade Secrets Act.
Third, all Native American **location** data is withheld at all times. It's possible that othe

[2021-07-27 16:36] CM805 commented on #1642
@Maroyafaied and @mojobnichols let me know what you need me to do and when for this.  I'm assuming I'll just check functionality once the bug is fixed.

[2021-07-27 16:42] CM805 commented on #132
You may also be able to check in with Mike Anspach, Michael Rausch, or Christina Lynch.  They do solids reference data, but they may be familiar with some reporting terms as well.

[2021-07-27 16:46] cthomasONRR commented on #132
@CM805 Thanks for the advice! I will give Nadia some time to respond, then reach out to the other people you listed.

[2021-07-27 20:06] mcharg opened #1660 "Request Docker access from IT"
So we can build NRRD builds locally.  See @mojobnichols and @jlouis-onrr for details.

[2021-07-27 21:31] daniel-coleman-1 commented on #1623
Updated:
![Screenshot 2021-07-27 152903](https://user-images.githubusercontent.com/83892362/127230249-eafa8770-5744-42a7-a304-66daf8c414f5.png)

[2021-07-27 21:37] daniel-coleman-1 commented on #1623
I've been going back and fourth on this, we seem to be violating HR 4238 here:

![Screenshot 2021-07-27 153006](https://user-images.githubusercontent.com/83892362/127230361-3d336610-ad29-408a-bff6-e5d083b24a15.png)

![Screenshot 2021-07-27 153021](https://user-images.githubusercontent.com/83892362/127230379-6b8b85db-2264-4c18-916f-070a7cd40e9c.png)

I don't like "Indian mineral estate" or "Federal

[2021-07-27 21:44] daniel-coleman-1 commented on #1651
Installed and good to go!

[2021-07-27 21:44] #1651 closed

[2021-07-28 12:45] mcharg commented on #1623
@daniel-coleman-1 We should leave this issue open until @Maroyafaied can weigh in.

[2021-07-28 13:40] mcharg commented on #1645
@daniel-coleman-1 I responded to your last round of comments.

[2021-07-28 15:07] cthomasONRR commented on #1562
I added to NRRD:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/10b252ba-ebf4-4dbe-b950-5de2fad77615)
(36 was intentionally left off)

And I added to ONRR.GOV:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/6560a590-173e-49ad-a410-98d042e8307d)

Task is complete- closing now.

[2021-07-28 15:07] #1562 closed

[2021-07-28 16:48] daniel-coleman-1 commented on #1645
@mcharg I made some edits and responded to your comments

[2021-07-28 17:39] mcharg commented on #1645
@daniel-coleman-1 I think this is ready for @Maroyafaied to review when she gets back.

[2021-07-29 13:38] cthomasONRR commented on #132
Email response from Nadia Miller. I am working on developing a simple definition.

"Christine,

Here is what I found out from a mining engineer familiar with solution mining of carbonate minerals and reading about the trona solution mining processes in Wyoming - The purge liquor is recovered from solution mining of trona and the volume is initially measured in liquid units.  There is chemistry inv

[2021-07-29 13:55] cthomasONRR commented on #132
Proposed "tons - equivalent" definition, since it is only used for Purge liquor.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/12f9fd79-e814-4eaa-87fa-15204b3759a0)

"Purge liquor is recovered from solution mining of Trona ore and the volume is initially measured in liquid units. The liquid units are converted to an equivalent tonnage during the process of recovering r

[2021-07-29 14:07] cthomasONRR commented on #132
Nadia approved my proposed definition above.

@Maroyafaied and @mcharg - Can I get your approvals before adding this to the NRRD glossary?

Thanks!

[2021-07-29 14:11] mcharg commented on #132
We use a tool called Hemingway to evaluate reading level.  The goal for the site is grade 10 and I'm getting a grade 14.  Can you see if you can get it down to a grade 10?
https://hemingwayapp.com/
![image](https://user-images.githubusercontent.com/38465926/127507191-5de5213e-a57c-4814-ad95-b2fbe912ada2.png)

[2021-07-29 14:14] mcharg commented on #132
Here's one option that gets it to grade 10.
![image](https://user-images.githubusercontent.com/38465926/127507747-04531475-f669-49cb-a9c2-a102b142d343.png)

[2021-07-29 14:23] cthomasONRR commented on #132
@mcharg thanks for looking into the reading level!

I'm ok with your Grade 10 version:
"Purge liquor is recovered from solution mining of Trona ore. The volume is first measured in liquid units. It is then converted to an equivalent tonnage when recovering royalty-bearing minerals from solution Trona mining."

[2021-07-29 16:27] daniel-coleman-1 opened #1662 "Change color on Glossary blocks"
Currently we have a light blue background with white text.
![](https://files.slack.com/files-pri/TP1E4TUF9-F029E1BCAKG/image.png)

Change text to black and background color to light gray.

[2021-07-29 18:07] #1642 closed

[2021-07-29 18:07] #1648 closed

[2021-07-29 18:11] #1652 closed

[2021-07-29 19:14] CM805 commented on #1623
Don't forget to take this into consideration:  https://www.ecfr.gov/cgi-bin/text-idx?SID=8c05e819ce48df97fc7ad62ae9c63704&mc=true&node=se25.1.211_13&rgn=div8

I know it is hard when there is conflicting information.  I think it would be good for ONRR leadership to document how they come to whatever decision they make regarding this.

[2021-07-29 20:16] mcharg commented on #1581
@Maroyafaied This is ready to close once you review the PR.

[2021-07-29 20:16] #1581 closed

[2021-07-29 20:17] mcharg commented on #1623
@Maroyafaied Nichelle said they are going to start working on an ONRR style guide and want us to be involved.  That might be a good time to bring this up.

[2021-07-29 20:18] mcharg commented on #1654
@Maroyafaied Matt said he should have this done today or tomorrow.

[2021-07-29 20:19] mcharg opened #1663 "July analytics"

[2021-07-30 12:53] mcharg opened #1664 "Upload June disbursements data"

[2021-07-30 19:42] Baymatt commented on #1654
Here are the changes/additions for the data checklist based on the suggestions above and what I've looked over.

Will add this to all the monthly checklists,
- [ ] For the current month's data, verify data on monthly snapshot is correct.

Will add in all the downloads file category,
- [ ] Check download file against the raw file to verify both files are the same.

I'm also planning to make a few s

[2021-08-02 15:01] Maroyafaied commented on #132
@cthomasONRR This looks good, I'll move this issue to this sprint so you can create a PR to add this to the glossary. Thanks

[2021-08-02 15:21] cthomasONRR commented on #132
@Maroyafaied , could this be added to the "adding glossaries" PR instead of making a new one?

[2021-08-02 15:24] Maroyafaied commented on #132
@cthomasONRR Ya, that works!

[2021-08-02 15:29] cthomasONRR commented on #132
Added this update to the "Adding glossaries" PR:
https://github.com/ONRR/nrrd/pull/1658

[2021-08-02 15:37] Maroyafaied commented on #1645
@daniel-coleman-1 please see my comments in the doc.

[2021-08-02 15:47] #132 closed

[2021-08-02 16:07] daniel-coleman-1 commented on #1645
@maroya edited following our chat, please see my comments in the doc.

[2021-08-02 16:22] #1655 closed

[2021-08-02 16:37] daniel-coleman-1 commented on #1663
Updating the chart to add July requires a lateral stretch of the image that brings the text vertical.

![Screenshot 2021-08-02 103510](https://user-images.githubusercontent.com/83892362/127894770-fec4982b-6c83-4401-90e2-66a779e66678.png)
![Screenshot 2021-08-02 103532](https://user-images.githubusercontent.com/83892362/127894780-0f303f18-687c-4ee1-9e35-4df9a34ec02f.png)

[2021-08-02 16:42] cthomasONRR opened #1665 "Defining State/Offshore Region Query Data terms in NRRD"
There are 4 undefined terms within the State/Offshore Region Query Data:
Location not published
Not tied to a lease
Not tied to a location
Not tied to a region

![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/b5de1b19-8853-4457-acc7-8e2a4939eeed)

These 4 terms and the data associated with them need to be analyzed, to determine if they need to be defined, combined with a

[2021-08-02 16:43] cthomasONRR commented on #1346
This project is being closed- merged into #910
https://app.zenhub.com/workspaces/data-display-5464fa79c3cc8d7f4c384eaf/issues/onrr/onrr.gov-site/910

[2021-08-02 16:43] #1346 closed

[2021-08-02 17:25] Maroyafaied commented on #1665
Not tied to a lease - label only used in revenue data, should be for revenue types like civil penalties that don't have  either onshore or offshore as land category or don't have a commodity listed.

Location not published - label used in revenue and production data, should be used for Native American data.

Not tied to a region - label used in revenue data, for data labeled as offshore but don't

[2021-08-02 17:28] Maroyafaied commented on #1665
@mojobnichols I believe everything labeled "not tied to a location" should be labeled as "not tied to a lease" according to this closed issue. https://github.com/ONRR/nrrd/issues/1320

[2021-08-02 17:36] daniel-coleman-1 commented on #1663
I was only able to update some of the information with the instructions provided.  I think we need to update the instructions for clarity, I can meet with @mcharg about this when she gets back from vacation.

[2021-08-02 17:39] #1656 closed

[2021-08-02 17:53] Maroyafaied commented on #1645
@daniel-coleman-1 I reviewed, looks good but we still need content for the back of the production card.

[2021-08-02 17:55] Maroyafaied opened #1666 "Finalize job analysis for Developer vacancy."

[2021-08-02 18:09] Maroyafaied commented on #1654
@cthomasONRR @Maroyafaied review the checklist and use it to check disbursement data.

[2021-08-02 18:16] Maroyafaied commented on #1101
Details on how often to we pull the report, where to store it, and if high level data?

- Store in Circle CI and have a program analyst  pull the report or copy the data.
- High level data

[2021-08-02 18:38] Maroyafaied commented on #1664
check data against data check list

[2021-08-02 18:44] Maroyafaied commented on #1660
Don't want admin access, want user space docker access.  @Maroyafaied check with Patty Damon . @mojobnichols @jlouis-onrr will provide exactly what is needed.

[2021-08-02 19:16] Maroyafaied opened #1667 "Review interns applications"
@Maroyafaied I will check if applications came through, then I will have you guys do resume views and/or interviews.

[2021-08-02 19:20] Maroyafaied opened #1668 "Write steps of how to upload data in wiki"

[2021-08-02 19:22] Maroyafaied commented on #1668
1. Save original file in Teams folder (General>NRRD>Data)

[2021-08-02 19:34] Maroyafaied opened #1669 "Create Data Procedure form"
There's 3 procedure forms and they are outdated since we've been using the database. We need to create one procedure form for all 3 data sets and archive the outdated ones in a folder.

https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/NRRD/Data/Disbursements/Monthly%20Disbursements%20Procedure.docx?web=1

[2021-08-02 19:54] Maroyafaied commented on #1664
[Original data ](https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/NRRD/Data/Disbursements/FY21/Q3%20Total%20Web%20Data%20(Jun).xlsx?web=1)

[2021-08-02 21:29] Maroyafaied commented on #1623
@daniel-coleman-1 We don't use Native American on onrr.gov so please take that section out in the wiki's content guide on onrr.gov.  Please take everything in red out for onrr.gov and leave just the "Indian" sentence.  We can revisit this when working with Nichelle on ONRR's style guide.
![image](https://user-images.githubusercontent.com/40175688/127926275-e3897df1-d1b8-4fe4-9f5f-f613e00357cb.png)

[2021-08-02 21:47] Maroyafaied commented on #1645
@daniel-coleman-1 This looks good, I'll have Nathan review it once we add the revised content to the card design.

[2021-08-02 21:47] #1645 closed

[2021-08-02 21:58] #1623 closed

[2021-08-03 14:43] Maroyafaied commented on #1665
@cthomasONRR Great job, that's a good start! You should be able to replicate not tied to a region by filtering for offshore for land category and filtering for "blanks" in offshore region. Let me know if it works for you, I attached a pic.  Also, it seems like from your findings, we can't combine not tied to location data with not tied to a lease since that data has onshore as land category?
![ima

[2021-08-03 16:34] Maroyafaied opened #1672 "Bug disbursement homepage comparison chart"
Data is not showing for yearly comparison for FY 2015 and earlier.

![image](https://user-images.githubusercontent.com/40175688/128052672-16215557-994e-45e3-b464-d5b721abe7b2.png)

[2021-08-03 17:58] cthomasONRR commented on #1668
I created a section for "How to upload monthly datasets" here:
https://github.com/ONRR/nrrd/wiki/Releasing-changes-to-production

[2021-08-03 18:33] daniel-coleman-1 commented on #1662
https://nrrd-preview.app.cloud.gov/sites/upload-monthly-data/glossary

[2021-08-03 18:40] Maroyafaied commented on #1668
@cthomasONRR looks great, I made minor edits and I also include this page on the navigation menu under "Data". We can close this issue for now and you can use these steps the next time we have data to upload and make changes if needed. Thanks!

![image](https://user-images.githubusercontent.com/40175688/128068747-c1939a98-f240-4efc-afe0-f4a1872d9288.png)

[2021-08-03 18:42] daniel-coleman-1 commented on #1662
info.main: #d3dfe6
info.light: #e9eff2

[2021-08-03 18:50] Maroyafaied commented on #1654
@Baymatt Yes, the changes you suggested above sound good, can you also make the following changes;

1. Can you move the Download file category to be on top of the checklist

2.  Add a step at the end of each checklist to check the monthly snapshot against homepage graphs

3. For Disbursements monthly checklist, can you add the following steps under the download file category;

- [ ]  Check  Treasu

[2021-08-03 18:58] #1668 closed

[2021-08-03 19:06] cthomasONRR commented on #1664
Data has been uploaded.
This is now part of Pull Request #1671
https://github.com/ONRR/nrrd/pull/1671

[2021-08-03 19:14] cthomasONRR commented on #1665
@Maroyafaied -

Thanks - I was able to replicate "Not Tied to a Region" by filtering the offshore region to 'blank'!

Right now, I'm not sure if we can combine any of these 4 region types.
For "Not Tied to a Lease", it is associated to the specific "Not Tied to a Lease" land category. This is a category independent of onshore and offshore. "Not Tied to a Location" is onshore only, and "Not Tied to

[2021-08-03 19:49] Maroyafaied commented on #1665
@cthomasONRR I agree that we can't combine the labels. Can you draft glossary terms for all 4 labels based on your findings and I'll review. Thanks

[2021-08-03 20:21] Maroyafaied opened #1673 "visualize 508 compliance progress and analytics"
Nathan asked for us to provide visuals for analytics and 508 compliance to include in an end of year report for Howard.

[2021-08-03 20:32] cthomasONRR commented on #1665
@Maroyafaied, let me know what you think!

- Location Not Published: We conceal all location data for Native American production, revenue, and disbursements.

- Not Tied to a Location: This term indicates Federal onshore revenue data that did not include a location.

- Not Tied to a Lease: This term indicates Federal revenue data that either did not include a location, or did not include a commodi

[2021-08-03 21:31] Maroyafaied commented on #1667
I'm still not seeing any applicants which is weird because I know at least of one applicant that applied to the data one.  I will reach out and see when we should be seeing applicants.

[2021-08-04 13:35] Maroyafaied opened #1674 "Upload revenue and production monthly data"
- Upload July 2021 revenue data
 - Upload April 2021 production data

[2021-08-04 13:44] Maroyafaied commented on #1667
Below is the response I received, I'll wait till we receive an email to review application material.

"Dear Maroya,

We are almost there!  USAJobs had some technical issues, so we extended the application period to Aug. 2.  As soon as we receive the data transfer form USAJobs,  we will send an email letting mentors know they can log in to review application materials.

By the way, one of our inter

[2021-08-04 17:57] cthomasONRR commented on #1664
The data was uploaded and reviewed. This issue can be closed.

[2021-08-04 17:57] #1664 closed

[2021-08-04 19:33] cthomasONRR commented on #1674
Both revenue and production data are uploaded into PR#1671 (https://github.com/ONRR/nrrd/pull/1671).
I reviewed the data using the checklists and everything is good to go.

Closing out this issue.

[2021-08-04 19:33] #1674 closed

[2021-08-05 13:06] Maroyafaied commented on #1660
@mojobnichols @jlouis-onrr I put in a request with IT today to change your access. ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/6b422f20-0c15-4868-8883-623d2b0a0c34)

[2021-08-05 18:34] Maroyafaied opened #1675 "Make a list on wiki for data sets used for all features on website"
We need to clarify which data sets are used on different features on the website. For example, we mainly use monthly data on the homepage but for disbursements FY 11 - FY 17 we're using the fiscal year file since the data isn't available in the monthly file.

[2021-08-05 19:21] cthomasONRR commented on #1635
This is a duplicate issue, and can be closed. Issues this one duplicated are:
#1168 https://app.zenhub.com/workspaces/data-display-5464fa79c3cc8d7f4c384eaf/issues/onrr/nrrd/1668
#1675 https://app.zenhub.com/workspaces/data-display-5464fa79c3cc8d7f4c384eaf/issues/onrr/nrrd/1675

[2021-08-05 19:21] #1635 closed

[2021-08-05 20:27] daniel-coleman-1 commented on #1552
[Alt Text](https://github.com/ONRR/nrrd/files/6941471/Alt.Text.8.5.docx)

Text:
The Production image shows a simple line drawing of an oil rig, a mechanical tower built above the sea. The oil rig has a line descending below into a dollar sign ($).  The dollar sign below the oil rig represents the natural resources that are extracted and sold.
Grade 5

The Revenue image shows a revenue document, a

[2021-08-05 20:28] daniel-coleman-1 commented on #1552
@mcharg @arcasarana  what do you think?  Too repetitive in the beginning of the first sentences?

[2021-08-09 11:58] mcharg commented on #1663
@daniel-coleman-1 I'm okay with the change to the image.

[2021-08-09 12:34] mcharg opened #1676 "Remove RRM Phase 3 documents"
- [ ] https://www.onrr.gov/ReportPay/PDFDocs/940919.pdf

[2021-08-09 12:42] mcharg commented on #1552
@daniel-coleman-1 I think it's fine.

[2021-08-09 18:54] Maroyafaied commented on #1666
Send to HR.

[2021-08-09 18:54] #1666 closed

[2021-08-09 19:28] Maroyafaied commented on #1665
@cthomasONRR  I made changes to the "Location not published" label, the other labels definitions look good. @mcharg @daniel-coleman-1 can you review?

- Location Not Published: Location data is not published for Native American data, it is only available at the national level to protect private and personally identifiable information.

- Not Tied to a Location: This term indicates Federal onshore

[2021-08-09 19:31] cthomasONRR commented on #1665
@Maroyafaied Thanks!!!

[2021-08-09 20:53] mcharg commented on #1665
Revised to reduce reading level.

- Location Not Published: Location data isn't published for Native American data. It's only available at the national level. This protects private data and personally identifiable information (PII). (Post-Graduate to Grade 10)
- Not Tied to a Location: This term indicates Federal onshore revenue data that did not include a location. (Grade 10, no edits)
- Not Tied

[2021-08-09 21:39] Maroyafaied commented on #1665
@cthomasONRR I've already merged the adding glossaries PR you had earlier so you'll have to create a new PR for these terms. Thanks

[2021-08-09 21:52] Maroyafaied commented on #1672
Fixed in PR#1671

[2021-08-09 21:52] #1672 closed

[2021-08-09 22:22] Baymatt commented on #1654
## Updating Data files

Use the following checklist to check features on the website when updating data files.

**Production Monthly**

Downloads Page
- [ ] Dates and file size are correct for csv and excel
- [ ] Make sure the downloaded data matches the raw data. Raw data saved here (Insert Teams link to raw file)

Homepage - Yearly Breakdown
- Select a year and verify the amounts and comparisons

[2021-08-09 22:26] Maroyafaied commented on #1654
@Baymatt This looks great! @cthomasONRR can you review? If everything looks good, we can close this issue.

[2021-08-09 22:29] Baymatt commented on #1654
Here are the changes based on the checklist that @cthomasONRR updated and that I added to just so we have a list.
I'm pretty sure we covered everything but if not just let me know.
- Moved Downloads Page checks to the top of each checklist and added a line for downloads vs. raw data.
- Added the additional checks to the Downloads Page checklist for Disbursement Monthly data
- At the end of each mo

[2021-08-09 22:41] Baymatt commented on #1675
Is there a comprehensive list of all the features on the website? If not, I think it'll be easier if we make a one and then fill in the blanks for the datasets corresponding to that feature. I'll go ahead and work on a list in a document/spreadsheet and then share once I've finished.

[2021-08-10 12:33] Maroyafaied commented on #1675
@Baymatt there is not a comprehensive list of all the features on the website, but I like your idea and your approach!

[2021-08-10 12:48] cthomasONRR commented on #1665
@Maroyafaied I think I still need some hand-holding for the process of making a PR. I'll set up a meeting for us to do it together.

[2021-08-10 12:50] Maroyafaied commented on #1665
@cthomasONRR sounds good, I'd be happy to help.

[2021-08-10 13:24] cthomasONRR commented on #1665
@Maroyafaied

"Not Tied to a Lease" already had a definition: "Some revenues - such as civil penalties - are not tied to either onshore or offshore"

Are we ok replacing this definition with the new one? Just want to make sure!

[2021-08-10 14:19] cthomasONRR commented on #1654
@Baymatt  and @Maroyafaied

Everything looks good to me. Thanks Matt for all your help!!!

[2021-08-10 14:50] #1654 closed

[2021-08-10 16:26] #1665 closed

[2021-08-10 21:08] Baymatt commented on #1675
Here's a rough spreadsheet of the features, let me know if I missed any. Attached a partial screenshot of the sheet as a preview.

[FeaturesList.xlsx](https://github.com/ONRR/nrrd/files/6964547/FeaturesList.xlsx)

<img width="1248" alt="Screen Shot 2021-08-10 at 2 06 25 PM" src="https://user-images.githubusercontent.com/43329595/128935214-6fae186f-5fca-4c10-b5fd-e651d44a4259.png">

[2021-08-11 14:04] #1662 closed

[2021-08-11 14:41] mcharg opened #1680 "Create presentation for Interagency Accessibility Forum (IAAF)"
[Proposal](https://doimspp-my.sharepoint.com/:b:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Proposals/FY21/IAAF_Proposal.pdf?csf=1&web=1&e=CBtm8A)

Presentation is October 13

[2021-08-11 16:42] Maroyafaied commented on #1675
@Baymatt Great start. One feature you missed is in explore data revenue by company CY, we display revenue by company bar chart that comes from the revenue by company file. We don't have have revenue by company for CY 2020 yet so you have to select a prior year to see, here is a screen shot.
![Uploading image.png…]()

[2021-08-12 15:20] #1594 closed

[2021-08-12 15:22] Maroyafaied opened #1681 "Request Docker to be installed"

[2021-08-12 18:09] #1552 closed

[2021-08-12 18:10] Maroyafaied commented on #1660
@mojobnichols IT should reach out to you next week.

[2021-08-12 20:05] Maroyafaied opened #1682 "Upload CY20 Revenue by company data"
We finally have the data set!!

[2021-08-13 14:02] mcharg commented on #1667
Spreadsheet is in this folder.  I also copied the interview question docs from last year that we can use as a starting point.
https://doimspp-my.sharepoint.com/:f:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Interns/2021?csf=1&web=1&e=pQrhJT

[2021-08-13 15:19] mcharg commented on #1588
@Maroyafaied @cthomasONRR @jlouis-onrr Thoughts?
https://f4d09b.axshare.com/#id=dwpsbz&p=how_datasets_fit

[2021-08-13 15:44] cthomasONRR commented on #1667
I'm reading through application and putting additional comments in the notes section of the spreadsheet.

[2021-08-13 15:50] mcharg commented on #1400
I don't think this is necessary with #1403.

[2021-08-13 15:50] #1400 closed

[2021-08-13 15:58] Maroyafaied commented on #1667
Please see my comment in the excel sheet regarding the applicant Rawa. Thanks

[2021-08-13 18:07] mcharg commented on #1673
I started a deck with some ideas.
https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/What%20We%20Do/FY21Analytics.pptx?d=w1d54152e90614166a953ca2a1207e340&csf=1&web=1&e=hq9zpq

[2021-08-16 12:27] Maroyafaied opened #1685 "Create Revenue by company data review checklist"

[2021-08-16 13:29] cthomasONRR commented on #1588
Here are a few things I'm seeing:

- [ ] The oxford comma needs to be added in the Leasing (2nd sentence) and Revenue (1st sentence) descriptions.
- [ ] The arrows going from Leasing and Production to Revenue are a little awkward, especially the one going from Production to Revenue... Maybe arrows like in the image below would be better? If possible, maybe we can do a similar arrow merge?

![image

[2021-08-16 17:14] mcharg commented on #1588
@cthomasONRR I'll leave it to @jlouis-onrr to play with the arrows when he implements this, since he'll likely be starting with what's available in Material UI.  I'll fix the commas in the PR I have out there that edits the title for the diagram.

[2021-08-16 17:19] mcharg opened #1686 "Implement changes to How Datasets Fit Diagram"
To make it less vertical.

Design: https://f4d09b.axshare.com/#id=dwpsbz&p=how_datasets_fit

Suggested arrows:
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/6a4d3285-df1b-4023-b345-b0881e98b361)

[2021-08-16 17:20] mcharg commented on #1588
Created #1686 to implement the changes.

[2021-08-16 18:04] mcharg opened #1687 "Refactor left nav"

[2021-08-16 18:04] #1101 closed

[2021-08-16 18:14] #1667 closed

[2021-08-16 18:15] Maroyafaied opened #1688 "Interview Interns"

[2021-08-16 18:29] Maroyafaied commented on #1681
@jlouis-onrr will share screenshot of what to request.

[2021-08-17 16:08] cthomasONRR commented on #1685
DRAFT (work in progress)

**Revenue by Company**

- [ ] Make sure the downloaded data matches the raw data. Raw data saved [here](https://teams.microsoft.com/l/file/BCAFFDD4-557B-4C74-8405-30E9884403B4?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FData%2FRevenue%20by%20company%2FCY20

[2021-08-17 17:17] cthomasONRR commented on #1682
Data uploaded and incorporated into PR #1689
https://github.com/ONRR/nrrd/pull/1689

[2021-08-17 17:17] #1682 closed

[2021-08-17 17:48] lpgoldstein commented on #1685
At first glance it looks like the files are slightly different - screenshot below is just 2020. Doing some more digging and I hope that I'm wrong.
![image](https://user-images.githubusercontent.com/39419003/129775631-40f2aec6-95a5-4bd0-b826-c88039492d17.png)

[2021-08-17 17:54] Maroyafaied commented on #1685
@mojobnichols could you look into why the numbers are different, could it be how negative numbers are formatted?

[2021-08-17 17:55] lpgoldstein commented on #1685
@cthomasONRR I'm working on the data within the raw data file so everyone can see what I'm doing but we can delete later

[2021-08-17 17:57] cthomasONRR commented on #1685
@lpgoldstein and @Maroyafaied It looks like the full file download does not have any negative numbers for 2020. I agree, I think we need Mojo's help!

[2021-08-17 18:21] lpgoldstein opened #1690 "Quarterly metrics Q2, Q3"
Go back and calculate metrics for Q2 and Q3

[2021-08-17 22:30] daniel-coleman-1 commented on #1663
It looks like all previous Downloads data had been removed (or we don't track Downloads). We need mobile browsers and tablet browsers.  It looks like we are tracking Disbursements, Revenue and Production, but I am not sure what is going on there.

[2021-08-18 12:10] mcharg commented on #1663
@daniel-coleman-1 The downloads are tracked by file in the Disbursements, Revenue and Production sections.

For the browsers, you need to add a second dimension to break down the browser report by device. From the instructions:
"Add Device Category as a Secondary Dimension (the control for this is in the table header). Add any browsers over 1% to the table and bold any over 10%."

[2021-08-18 18:29] cthomasONRR commented on #1685
@mojobnichols , @lpgoldstein , @Maroyafaied

I'm still not getting the numbers to match up after Mojo's most recent PR.
This is from the downloaded file from the Review Site:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/160bc6ad-4c46-41c3-952b-512189bab1f2)

And this is from the Raw data:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/6d29c

[2021-08-18 18:31] Maroyafaied commented on #1685
@cthomasONRR I don't think @mojobnichols has pushed out his changes yet?

[2021-08-18 18:33] cthomasONRR commented on #1685
@Maroyafaied I believe he just did:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/fedb4182-4320-4602-90d3-6541bc5e1ef6)

[2021-08-18 20:36] mcharg commented on #1673
@Maroyafaied @cthomasONRR I updated the deck based on on conversation.  Let me know if you have additional feedback.  I can play with colors tomorrow.

[2021-08-18 20:50] cthomasONRR commented on #1673
@mcharg I added in some comments on the slides. Thanks!!

[2021-08-18 23:34] Maroyafaied commented on #1685
@lpgoldstein @cthomasONRR I just checked the data and it's matching now, I didn't do a detailed check , I only checked it against the rawa data.

[2021-08-19 12:40] mcharg commented on #1680
@Maroyafaied I'm going to start working on this based on the blog post, so we can take Sid up on his offer to give feedback.

[2021-08-19 13:41] Maroyafaied commented on #1680
@mcharg sounds good, let me know how I can help.

[2021-08-19 17:41] mcharg commented on #1673
@Maroyafaied @cthomasONRR Updated colors and addressed Christine's comments.

[2021-08-19 17:53] cthomasONRR commented on #1673
@mcharg The changes look great!

[2021-08-19 17:54] lpgoldstein commented on #1669
@cthomasONRR I used the wiki as a basis and added some screens shots. The only thing I think might be confusing is that all of the data sets go into the same PR, but I'm not yet sure how to make it more clear until I work through it. Please take a look and edit as you please - no hurry either. Thanks!

[2021-08-19 18:59] cthomasONRR commented on #1685
@Maroyafaied  Here is my revised checklist, based on your suggestion in the PR:

Revenue by Company

- [ ] Make sure the downloaded data matches the raw data. Raw data saved [here]

Explore Data - Click on the "Federal revenue by company" link below the map
- Select a year and verify the amounts and comparisons are correct for the conditions below. Repeat with the most recent year
   - [ ]  One to

[2021-08-19 19:03] cthomasONRR commented on #1675
@Baymatt Matt's continuing to work on this project, he will likely have something to show next week.

[2021-08-19 19:09] mcharg opened #1692 "Review onboarding checklist"
And make suggestions to improve it for this year's interns.

[2021-08-19 19:36] Maroyafaied commented on #1685
@cthomasONRR Looks good, thanks!

[2021-08-19 19:42] #1685 closed

[2021-08-19 19:42] cthomasONRR commented on #1685
@Maroyafaied Great! I just added it to the wiki (https://github.com/ONRR/nrrd/wiki/Releasing-changes-to-production). Closing this issue.

[2021-08-19 19:52] mcharg opened #1693 "Create mentoring objectives form for interns"
I want to create something based on the mentoring Udemy course I took and the UX mentoring program, so we can have more structure to help the interns achieve goals.

[2021-08-19 19:53] mcharg commented on #1693
@cthomasONRR Do you want to help with this?

[2021-08-19 20:30] cthomasONRR commented on #1693
@mcharg Sure! I added myself so this issue will appear on my ZenHub

[2021-08-19 20:34] mcharg commented on #1693
@cthomasONRR Great!  I put the templates from both the course and UX mentoring in the same folder as the intern interview docs.

[2021-08-19 21:00] Baymatt commented on #1692
@mcharg I'm not able to see the data onboarding checklist at the link you sent in the interns channel but I took a look at my checklist and felt like almost everything was covered. Once I complete the features list from issue #1675, I think that'll be useful to include as well to give them a sense of what datasets tie into what visualizations/features.

[2021-08-19 21:33] Maroyafaied commented on #1673
@mcharg Thank you for work on this , I added a couple of comments. Looks great overall!

[2021-08-20 12:06] mcharg commented on #1692
@Baymatt We should add the data checklist from yours to the wiki page.

[2021-08-20 14:49] cthomasONRR commented on #1693
@mcharg

I made a [Word](https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Interns/2021/Mentoring%20Engagement%20Objectives.docx?d=w8d1a9f88298f437db2fd961edd6397bf) version of the mentoring engagement PDF. It's saved in the same [Interns 2021](https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Interns/2021/Mentoring%20Engageme

[2021-08-20 15:20] mcharg commented on #1693
@cthomasONRR Looks good.  I added in a comment.

@Maroyafaied Do you also want to review?

[2021-08-20 15:37] Maroyafaied commented on #1693
@mcharg I'll review on Monday, logging off now for an appointment. Thanks

[2021-08-23 15:49] Maroyafaied commented on #1693
@Baymatt We are trying this new approach with our interns to focus on mentoring objectives. Can you go through this form and fill it out and give us any feedback you may have? https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BA53299F9-5581-491E-B42C-5687EAE50FB0%7D&file=Mentoring%20Engagement%20-%20Matt.docx&action=default&mobileredirect=true

[2021-08-23 18:21] cthomasONRR commented on #1692
I added a data section to the onboarding checklist... currently working on updating it a bit!

[2021-08-23 18:31] cthomasONRR commented on #1669
@lpgoldstein - I reviewed and added in comments last week. Is this ready for @Maroyafaied to review?

[2021-08-23 18:36] lpgoldstein commented on #1669
@cthomasONRR Yes @Maroyafaied This is ready for your review. You'll see a comment in the document that addresses next steps as well.

[2021-08-23 18:42] Maroyafaied commented on #1669
@lpgoldstein I reviewed and added a couple of comments. Thanks

[2021-08-23 18:56] lpgoldstein commented on #1669
@Maroyafaied I incorporated your comments. Is this okay to close?

[2021-08-23 20:14] #369 closed

[2021-08-23 20:15] #1403 closed

[2021-08-23 20:17] Maroyafaied commented on #1669
@lpgoldstein yes, looks good. Thanks

[2021-08-23 20:51] #1669 closed

[2021-08-23 20:58] Maroyafaied commented on #1673
@mcharg Here are the dates of emails send and deadline given for each phase

Phase 1; Email send on 11/9/2020 with deadline of 12/31/2020 except for Lee Ann Martin (April Lockler) was given a deadline of 3/31/2021

Phase 2 : Email send on 2/3/2021 with deadline of 3/31/2021. Email send for April Lockler on 4/1/2021 with deadline of 6/31/2021.

Phase 3: Email send 6/28 with deadline for decisions t

[2021-08-24 15:15] cthomasONRR commented on #1688
@mcharg  I think we can close this one, since interviews are completed.

[2021-08-24 15:26] #1688 closed

[2021-08-24 16:51] mcharg commented on #1673
@Maroyafaied @cthomasONRR Added a timeline to slide 13.  Still playing with visuals for the documents.

[2021-08-24 19:12] Maroyafaied commented on #1673
@mcharg I like the timeline a lot. I'll show the updates to Nathan tomorrow during our check in for feedback.

[2021-08-24 20:06] mcharg commented on #1673
@Maroyafaied @cthomasONRR I added a slide at the end showing that users are likely finding the correct handbook file more easily as a result of the handbook design.  That's all I'll add before Maroya meets with Nathan, unless @lpgoldstein has discovered anything else looking at metrics.

[2021-08-24 20:37] cthomasONRR commented on #1673
Looks great! Thanks for al your work on this!

[2021-08-26 14:19] Maroyafaied opened #1694 "Onboard Cross Trainer - Cody"
@lpgoldstein GitHub user name is codyeckstein

**`Lindsay`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Cody`:** Take judicious notes on what about this onboarding process or the NRRD website is confusing or frustrating. If you notice a problem (especially with things like docu

[2021-08-26 14:23] Maroyafaied opened #1695 "Onboard Cross Trainer - Cat"
@lpgoldstein GitHub user name is cvojslavek

**`Lindsay`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Cat`:** Take judicious notes on what about this onboarding process or the NRRD website is confusing or frustrating. If you notice a problem (especially with things like documen

[2021-08-26 20:18] mcharg opened #1696 "Create onboarding checklists for interns"

[2021-08-26 21:01] ghost opened #1697 "August Analytics"

[2021-08-26 21:07] daniel-coleman-1 opened #1698 "Connect with Bicameral D.C. Stakeholders"
1. Determine States for outreach
2. Make a list of both Senators and all Representatives from each state
3. Add contact information for each office
4. Call each office and request the name and contact for the intern coordinator
5. Connect with each office's intern coordinator and brief on user research, request participation from their interns
6. List all intern coordinators in a file on the share

[2021-08-27 15:30] lpgoldstein opened #1699 "July disbursements data"

[2021-08-27 15:33] lpgoldstein opened #1700 "Add directions for checking load time performance to wiki"
https://doimspp-my.sharepoint.com/:w:/r/personal/goldstel_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BCAD9DD82-4D63-4BE8-AA42-36FFE02644DC%7D&file=Check%20Load%20Time%20performance%20.docx&action=default&mobileredirect=true&cid=86cb4732-8e9e-4fcb-948f-2bfb6a0b770e

[2021-08-27 15:46] mcharg opened #1701 "Onboard Jae"
In order to get `Jae` productively contributing to the NRRD website team, `Shannon` should help `Jae` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Jae`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Jae`:** Take judicious notes on what ab

[2021-08-27 15:55] mcharg opened #1702 "Onboard Kaitlyn"
In order to get `Kaitlyn` productively contributing to the NRRD website team, `Shannon` should help `Kaitlyn` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Kaitlyn`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Kaitlyn`:** Take judicious

[2021-08-27 15:59] mcharg opened #1703 "Onboard Rawa"
In order to get `Rawa` productively contributing to the NRRD website team, `Lindsay` should help `Rawa` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Rawa`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Rawa`:** Take judicious notes on wha

[2021-08-27 16:01] mcharg opened #1704 "Onboard Kiara"
In order to get `Kiara` productively contributing to the NRRD website team, `Christine` should help `Kiara` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Kiara`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Kiara`:** Take judicious notes

[2021-08-27 16:12] mcharg opened #1705 "Onboard Chris"
In order to get `Chris` productively contributing to the NRRD website team, `Mojo` should help `Chris` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Chris`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Chris`:** Take judicious notes on wh

[2021-08-27 16:26] #1696 closed, assigned to mcharg

[2021-08-30 13:37] cthomasONRR commented on #1699
@lpgoldstein do you need any help with this upload? I can likely get it done today if you're busy. Thanks!

[2021-08-30 15:49] cthomasONRR commented on #1699
Data is successfully uploaded to an existing PR: https://github.com/ONRR/nrrd/pull/1689

[2021-08-30 16:11] lpgoldstein commented on #1699
first issue found with downloaded data - this should just be calcasieu
![image](https://user-images.githubusercontent.com/39419003/131369857-bc27864d-15ed-47aa-94c6-e4672bb120be.png)

[2021-08-30 16:14] cthomasONRR commented on #1699
I think it's "Calcasieu Parish" because it's in Louisiana, and they have parishes instead of counties.

[2021-08-30 16:22] Maroyafaied opened #1706 "Epic: Tarte Tatin"

[2021-08-30 16:24] lpgoldstein commented on #1699
It is but we don't list county or parish in the name, right?

[2021-08-30 16:28] cthomasONRR commented on #1699
Yeah.... it looks like an error that only 2 have "Paris" ...  I think we need @mojobnichols's help to remove the "Paris" on these 2 line items.
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/a7b3213a-948c-44a0-8e47-cdb5ff751e9b)

[2021-08-30 16:44] Maroyafaied opened #1707 "Add revenue by company disclaimer in download page"

[2021-08-30 16:47] cthomasONRR commented on #1699
I'm noticing something odd when comparing the raw data to the downloaded data: the July 2021 sums are the same, but the total line item count is not. The raw data has 363 line items and the downloaded data only has 352. They both have a disbursement sum of $924,409,786.8. Does this have something to do with deleting the Treasury Fund column?

[2021-08-30 16:50] lpgoldstein commented on #1699
It shouldn't. We delete that every month. I'll look too.

[2021-08-30 16:53] Maroyafaied commented on #1673
@mcharg Thanks, it looks good. I'll show it to Nathan during our next check in but we're good to close this issue for now and refer to it as needed.

[2021-08-30 16:58] #1673 closed

[2021-08-30 17:01] lpgoldstein commented on #1699
@cthomasONRR This is probably one of the roll ups
![image](https://user-images.githubusercontent.com/39419003/131376621-e3030852-560b-49a3-81a6-47e6ceccbe92.png)

[2021-08-30 18:00] daniel-coleman-1 commented on #1698
In determining states for outreach I assessed the states who take in the most money from natural resources using this incredibly handy [Natural Resource Revenue](revenuedata.doi.gov) website.  Based on that, I identified the following states: CO, LA, NM, UT, WY, and MD.  These states have a combined 19 House seats and 12 Senate seats.

However, many of the Representatives and Senators in these sta

[2021-08-30 18:25] Maroyafaied commented on #1638
one point for each person.

[2021-08-30 19:29] cthomasONRR commented on #1638
I just joined:

- IT accessibility and Section 508
- Open Data Community
- Open Gov

[2021-08-30 19:34] Maroyafaied commented on #1699
@lpgoldstein @cthomasONRR I believe any lines that have the same Fund type, commodity and revenue type will be rolled up.  @mojobnichols Is that correct?

[2021-08-30 19:44] mcharg commented on #1638
I joined a bunch a few weeks ago.

[2021-08-30 19:57] lpgoldstein commented on #1699
@Maroyafaied that's what I think is happening too. I just want to make sure that the numbers look okay when they are rolled up. They likely do since the totals all match.

[2021-08-31 00:44] lpgoldstein commented on #1638
I also joined a bunch

[2021-08-31 16:23] cthomasONRR commented on #1699
For the public-facing dataset, should some of these Fund Types be combined? Like 'U.S. Treasury' and 'U.S. Treasury AI'? I thought that this was one of the 'roll ups'?
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/28fd35ba-c6f0-40a7-a5c9-3236a998845b)

[2021-08-31 16:29] lpgoldstein commented on #1699
@cthomasONRR I believe that U.S. Treasury AI is directed towards American Indians. If anything it would be rolled up with Native American Tribes & Allottees but when we had this discussion maybe a year and a half ago with FM they strongly believed that we shouldn't roll up that item.

[2021-08-31 16:51] cthomasONRR commented on #1699
@lpgoldstein OK, thanks for the explanation!

[2021-08-31 17:02] cthomasONRR commented on #1699
I was able to go through the disbursements data checklist, and everything looks good. It's just those 'roll ups' and 'Parish' issues that were throwing me. @lpgoldstein let me know if you're ok with me closing this issue. Thanks!

[2021-08-31 17:34] #1700 closed

[2021-08-31 19:14] lpgoldstein commented on #1699
@cthomasONRR Looks good to me!

[2021-08-31 19:20] #1699 closed

[2021-08-31 19:32] daniel-coleman-1 commented on #1698
Senate Side:
Senate Committee on Energy and Natural Resources Subcommittee on Public Lands, Forests and Mining (all members)
Senate Finance Committee Subcommittee on Energy, Natural Resources and Infrastructure (all members)

House side:
House Committee on Natural Resources Subcommittee for Indigenous Peoples of the United States (all members)
House Committee on Natural Resources Subcommittee on E

[2021-08-31 21:03] kjgdata commented on #1704
@mcharg my username for Github is

[2021-08-31 21:06] mcharg commented on #1704
@kjgdata Got you added to the org.

[2021-09-01 15:02] #1649 closed

[2021-09-01 15:07] Maroyafaied opened #1708 "Future Metrics"
Decide on metrics for the upcoming fiscal year and look into features in Zenhub.

[2021-09-01 17:16] cvojslavek commented on #1695
@lpgoldstein @Maroyafaied For the [Git for Windows](https://gitforwindows.org/) (aka Git Bash) non-core request, I received the following update from the Enterprise IT Service Desk:
"2021-09-01 06:54:22 - Chase Fair (fairc) (Comments)
reply from: Chase.Fair@bsee.gov

DOI still doesn’t have an ATO for GIT therefore this can not be approved at this time"

[2021-09-01 17:22] Maroyafaied commented on #1695
@cvojslavek did they give you Atom and GitHub Desktop? We don't really use Git Bash so it's fine if you have Atom and GitHub Desktop.

[2021-09-01 17:45] cvojslavek commented on #1695
Yes, they did give Atom and GitHub Desktop. Okay, sounds good.

[2021-09-01 19:17] daniel-coleman-1 commented on #1697
@mcharg I'm almost done with this one, but I'm not 100% sure how to approach Untrackable and Old users in the Page Views section

![Screenshot 2021-09-01 131320](https://user-images.githubusercontent.com/83892362/131730469-16ed0d75-a751-4ca3-8a22-808bccd26786.png)
![Screenshot 2021-09-01 131245](https://user-images.githubusercontent.com/83892362/131730472-fc8c57a2-e3fa-4336-94db-6c30ec2df313.png)

[2021-09-01 19:28] mcharg commented on #1697
@daniel-coleman-1 Drag down the formula from the previous row in column M.  Then copy and paste the total users, sessions, and page views numbers into the old users, sessions, and page views cells.

[2021-09-01 19:57] daniel-coleman-1 commented on #1697
@mcharg this one is ready for your review:
https://github.com/ONRR/nrrd/wiki/Analytics

[2021-09-01 20:53] cthomasONRR opened #1710 "Complete Mentoring Objectives Worksheet"
Hi Kiara,

This task is for you to read through and complete the [Mentoring Engagement Objectives](https://app.zenhub.com/files/215585796/aa304481-15c1-484b-bc07-f2145e6ee34f/download) worksheet.

You can comment in this issue if you have any questions about the worksheet.
Also please comment when you're ready to discuss and we can set up a meeting to do so.

Thanks!
Christine

[2021-09-02 12:50] cthomasONRR opened #1712 "BPR "Push Data" Update (9/8/21)"
The next BPR "Push Data" meeting is Wednesday September 8. I will provide an update here.

[2021-09-02 13:22] mcharg opened #1713 "Menu is missing on mobile"
This is occurring both in dev and on the live site on both my iPhone SE (Safari) and Android (Chrome).

![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/083c90fa-07f9-466e-845e-5ae4e3126f15)

[2021-09-02 13:33] mcharg commented on #1697
@daniel-coleman-1 We only include browsers over 1%.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2d47c330-077f-4f88-825c-81a082e3560d)

[2021-09-02 13:41] mcharg commented on #1697
@daniel-coleman-1 There were no downloads of the production yearly excel files.  The ones that show up are on the archive site.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0165ae70-2279-46e1-8ef9-4e084d6b2861)

[2021-09-02 13:42] mcharg commented on #1697
Otherwise, looks good.

[2021-09-02 14:18] #1697 closed, assigned to nobody

[2021-09-02 15:12] Maroyafaied commented on #1707
@daniel-coleman-1 will walk @cvojslavek @codyeckstein through creating a PR once DORC gives us the disclaimer.

[2021-09-02 16:34] jlouis-onrr commented on #1713
@mcharg, just put a update out for this here:
https://nrrd-preview.app.cloud.gov/sites/1713-MobileMenuMissing/

Once reviewed and good I'll merge this into dev.

[2021-09-02 17:20] jlouis-onrr opened #1714 "Lighthouse audit test errors"
expect(received).toBeGreaterThanOrEqual(expected)

Matcher error: received value must be a number

[2021-09-02 17:35] mcharg commented on #1713
@jlouis-onrr It's working on both my phones.

[2021-09-02 17:45] jlouis-onrr commented on #1713
@mcharg, cool I'm going to merge it into dev

[2021-09-02 18:36] Maroyafaied commented on #1698
@daniel-coleman-1 I'm closing this issue  since at stand up you asked for it to be moved to next sprint so you can finish your other work.  Since we are in maintenance mode for NRRD, outreach is not a priority right now and I'd like you to focus on completing the updates for the sitemap. We can revisit this when we are in need to do outreach.

[2021-09-02 18:36] #1698 closed

[2021-09-02 21:18] lpgoldstein opened #1715 "Complete mentoring objectives worksheet"
Please work through this worksheet as discussed and we will meet once complete.

[2021-09-07 14:44] cvojslavek commented on #1695
@lpgoldstein I was reviewing the [Explore Data Page](https://revenuedata.doi.gov/explore?dataType=Revenue&location=NF%2CNA&mapLevel=State&offshoreRegions=false&period=Calendar%20Year&year=2020) and was wondering why there doesn't appear to be any data visual bars for Other Revenues and the Native American doesn't appear under the Rents in the Nationwide revenue summary tab.
![image](https://user-i

[2021-09-07 14:57] cthomasONRR commented on #1712
I emailed Joseph Ingersoll the following, just in case we don't discuss Regulations in the next BPR meeting:

"Hi Joseph,

In addition to Section 508, here are some other Acts that my team has to make sure we’re compliant for when putting anything on ONRR’s public-facing websites:

- The Integrated Digital Experience Act (IDEA) https://digital.gov/resources/21st-century-integrated-digital-experien

[2021-09-07 16:30] Maroyafaied commented on #1695
@cvojslavek , @lpgoldstein is taking a sick day today. You can bring up what you find during synch up if you'd like. I believe that other revenues bar doesn't show because the total is negative, and the Native American under Rents is possible too small of an amount to be shown on the bar as you hover but it would be good to discuss both issues with the developers. Thanks

[2021-09-07 19:32] cvojslavek opened #1716 "Negative number bar design on the Explore Data Page, Nationwide revenue summary"
This is to come up with negative number bar design ideas when a bar doesn't show up because either the total number is negative or one of the items (e.g., Federal onshore) is negative. See the example below from the Other Revenues section of the [Explore Data Page](https://revenuedata.doi.gov/explore/?dataType=Revenue&location=NF%2CNA&mapLevel=State&offshoreRegions=false&period=Calendar%20Year&yea

[2021-09-07 19:40] cvojslavek opened #1717 "Add a minimum pixel for the bars on the Explore Data Page"
This is to add a minimum pixel for the bars on the [Explore Data Page](https://revenuedata.doi.gov/explore/?dataType=Revenue&location=NF%2CNA&mapLevel=State&offshoreRegions=false&period=Calendar%20Year&year=2020), Nationwide revenue summary tab. See the example below, the Native American amount doesn't show up in the Rents section bar:
![image](https://user-images.githubusercontent.com/89403899/13

[2021-09-07 20:10] mojobnichols opened #1718 "Create global package script"
Create script  to start db and cms, stoping restoring db, etc

[2021-09-07 20:12] #1718 closed

[2021-09-07 20:12] mojobnichols commented on #1718
Placed in wrong repo

[2021-09-08 15:39] lpgoldstein opened #1719 "Update company revenue download page"
@jlouis-onrr @mojobnichols I added the link to the company revenue download page to an email and the snap shot that is inserted with the link shows that we only have data through 2018. The download page itself shows 2019. Probably two separate issues but is the download page text still updated manually? I can fix that if it is.
![image](https://user-images.githubusercontent.com/39419003/132540108-

[2021-09-08 15:43] cthomasONRR commented on #1712
Today, the meeting went over Use Case 2 (Develop and share solution for a product that already exists) and Use Case 3 (Develop and share solution for a product that only partially exists). This meeting was much shorter than last week (only 1.5 hrs), because all of the changes/updates we made to Use Case 1 (Develop and share solution for a product that does not exist) could be applied to Use Cases

[2021-09-08 15:44] #1712 closed

[2021-09-08 18:52] cvojslavek opened #1720 "Mobile monthly snapshot with invalid dates in charts"
In the mobile version (iOS 14.7.1, Chrome and Safari) of the [monthly snapshot/fact-sheet page](https://revenuedata.doi.gov/fact-sheet), the charts have invalid date instead of the abbreviated months, e.g., August.
![IMG-chrome](https://user-images.githubusercontent.com/89403899/132566997-ab944800-09b4-4e56-a615-21f1e96038c3.PNG)
![IMG-safari](https://user-images.githubusercontent.com/89403899/132

[2021-09-08 19:35] jlouis-onrr commented on #1719
@lpgoldstein, for the first item that is coming from the markdown frontmatter and for the latter item its coming from the markdown content.  I was hoping that the ALL_YEARS constant might be available at the markdown level (which would allow for setting the years dynamically in the content), but its not so the easy thing to do is was to update the markdown file.

https://nrrd-preview.app.cloud.gov

[2021-09-08 20:15] Maroyafaied commented on #1707
DORC send this which came back as grade level 12 with hemmingway editor.  I made edits to bring it down to grade level 10 and send it back for their approval.

DORC's version: ONRR does not have a reporting vehicle to track real-time corporate family relationships. The best publicly available information is used to determine the ultimate, corporate parent for companies who report federal revenue d

[2021-09-09 13:01] #1719 closed

[2021-09-09 15:12] Maroyafaied commented on #1707
@daniel-coleman-1 here is the 2nd version DORC suggested, please create a PR with this version.

 ONRR does not have a reporting vehicle to track real-time corporate family relationships. We research the best publicly available information yearly to determine the ultimate corporate parent. This dataset is for informational purposes only and should not be used for legal purposes. Users assume all r

[2021-09-09 15:34] Maroyafaied opened #1722 "Add FY 18 disbursement data"
The disbursement team will send us monthly disbursement data for FY 18 to be uploaded on the site. We'll need to upload the data and ensure that for FY18, the database is using that data for features on the website.

[2021-09-09 15:40] Maroyafaied opened #1723 "Change "oil or gas" to "oil & gas" in monthly disbursement download page"
The terminology decided on was "Oil & Gas (pre-production)".

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/5ba19b24-58e6-483a-89db-9f04ca8f28cf)

[2021-09-09 17:00] cthomasONRR commented on #1723
@Maroyafaied I can take this issue and work on it when I get back on Tuesday (9/14).

[2021-09-09 17:27] mcharg commented on #1680
@Maroyafaied I started with some of the slides from the analytics deck.  Will fill in with more from the blog post tomorrow.
https://doimspp-my.sharepoint.com/:p:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/Outreach/Proposals/FY21/IAAF/IAAF_Presentation_ONRR.pptx?d=wde350753b5be4a89b9337211a6e88396&csf=1&web=1&e=UX0cPP

[2021-09-09 18:18] #1638 closed

[2021-09-09 18:23] #1705 closed

[2021-09-09 18:31] mcharg commented on #1702
@kmhtran Are you done with your checklist?  If so, you can close the issue.

[2021-09-09 18:56] kmhtran commented on #1702
Almost done! Still reading through research practices and findings, so I'll close the issue as soon as I finish.

[2021-09-09 18:58] jkwonatx commented on #1701
@mcharg FYI, I'll close this by this weekend

[2021-09-09 19:30] mcharg commented on #1701
@jkwonatx Great!

[2021-09-09 19:45] jkwonatx commented on #1716
@kmhtran have you checked this out yet? Would you be interested in giving it a thought together?

[2021-09-09 20:02] cvojslavek commented on #1695
Hi @lpgoldstein, I finished the onboarding checklist but have some comments, see below. Some other comments were already cleared up because the checklist has since been updated!

- Do you skip step 5 as well for this step: Follow 18F’s setup instructions to create a GitHub account, or link an existing account to your government work. (Skip step 4)
- I didn't see a way to change this to select the

[2021-09-09 20:03] #1703 closed

[2021-09-09 20:03] #1715 closed

[2021-09-09 20:49] mcharg commented on #1716
For reference, #1299 shows what we're doing on the vertical bar charts.

[2021-09-09 20:49] mcharg commented on #1716
And #476 has some designs for other types of charts that haven't been implemented yet.

[2021-09-09 20:56] mcharg opened #1724 "Video library logo contest entry - Due Sep 21"
Office of Natural Resources “Video Library” Logo Contest

Contest Objective:  
To create a Video Library Logo that will be present on the ONRResource Homepage.

Timeline:  
Logos due September 21, 2021

Lead by:
Business Development Services

Who is eligible to participate?

Contest is open to all ONRR employees. You do not have to be an artist to submit a design.

Contest Rules:

·     No more th

[2021-09-10 15:51] #1713 closed

[2021-09-10 16:16] Maroyafaied opened #1726 "Come up with FY 22 high level goals"

[2021-09-10 16:29] kmhtran commented on #1716
@jkwonatx Sure, we can definitely work through this one together. We can gather some ideas and meet to discuss what we've come up with.

[2021-09-10 16:48] codyeckstein commented on #1694
I think these links are broken:

![image.png](https://images.zenhubusercontent.com/612e68b98872341fdb32e3ff/dd52737b-3bf1-4438-a01d-ee968ae55cd3)

[2021-09-10 17:00] jkwonatx commented on #1716
Sounds good. I'll ping you in a few hours. We can meet on Tuesday if you're available.  @mcharg do we have a specific timeline for this issue?

[2021-09-10 17:20] mcharg commented on #1716
@jkwonatx I would say by the end of next sprint, unless you don't have time with user interviews, then it can wait until the sprint after.

[2021-09-10 17:46] mcharg commented on #1716
There's also an explanation about negative numbers on the fact sheet under revenue that might be useful to consider. https://revenuedata.doi.gov/fact-sheet

[2021-09-10 17:47] mcharg commented on #1716
#1409 is also relevant because we want to have all the graphs under Revenue by Company use the same color for the same thing, but they don't currently.

[2021-09-10 17:50] mcharg commented on #1716
Negative numbers will occur most often in Other Revenue because that includes Civil Penalties.

[2021-09-10 18:08] lpgoldstein commented on #1694
@codyeckstein Good find! These have been fixed since we created your issue. Here is the updated checklist https://github.com/ONRR/nrrd/wiki/Onboarding-checklist

[2021-09-10 18:43] #1702 closed

[2021-09-10 19:45] #1694 closed

[2021-09-12 19:11] #1701 closed

[2021-09-13 14:48] #1714 closed

[2021-09-13 17:55] mcharg opened #1729 "upload disbursement Fy18 data"

[2021-09-13 18:03] #1695 closed

[2021-09-13 18:14] #1620 closed

[2021-09-13 18:16] mcharg commented on #1722
Duplicate

[2021-09-13 18:16] #1722 closed

[2021-09-13 18:16] #1723 closed

[2021-09-13 18:21] jkwonatx opened #1730 "Link to a tab/ an accordion item on the same page"
To allow the user to share a link to a specific item under an accordion or a tab on the same page.

[2021-09-13 20:49] daniel-coleman-1 opened #1731 "Create "How To Write a 508 Compliant Email" guide"

[2021-09-14 16:48] cvojslavek commented on #1695
@lpgoldstein I made those minor edits we discussed from above to the [Onboarding Checklist](https://github.com/ONRR/nrrd/wiki/Onboarding-checklist), thanks for discussing.

[2021-09-14 18:47] cthomasONRR opened #1733 "CMS - allow list component to host HTML (make links accessible)"
Jerome already completed this task during the synch up discussion :)

[2021-09-14 18:48] #1733 closed

[2021-09-14 18:49] cthomasONRR commented on #1733
closing this bc I accidentally assigned it to NRRD and not ONRR.GOV (sorry!)

[2021-09-14 19:37] cthomasONRR opened #1734 "Upload monthly production data"
[Production Volumes as of 9-13-2021](https://app.zenhub.com/files/215585796/acddcabe-2dd2-4d26-9143-37f2d65e7c2a/download)

[2021-09-15 12:53] Maroyafaied opened #1735 "Upload monthly revenue data - August 2021"
@cthomasONRR @lpgoldstein I'm not sure if you guys decided whose doing revenue so please assign yourself if you are doing it. Thanks

[2021-09-15 12:53] Maroyafaied opened #1736 "Upload monthly revenue data - August 2021"
@cthomasONRR @lpgoldstein I'm not sure if you guys decided whose doing revenue so please assign yourself if you are doing it. Thanks

[2021-09-15 12:56] Maroyafaied commented on #1736
Duplicated

[2021-09-15 12:56] #1736 closed

[2021-09-15 13:31] cthomasONRR commented on #1734
Monthly production data is added to the following pull request:
https://github.com/ONRR/nrrd/pull/1732

I uploaded the checklist to that PR.

[2021-09-15 13:52] cthomasONRR commented on #1734
I reviewed the production data using the checklist, and did not find any issues.

[2021-09-15 14:10] jkwonatx commented on #1716
I came up with two ideas to solve this issue. Before coming up with the idea, I understood the bar to be a visualization of the dollar value of the revenues. The bars help viewers quickly grasp the magnitude of the revenues in relation to one another. There are two levels of comparison. At one level, the revenues are compared by Revenue Source. At another, they are compared by Revenue Type. All si

[2021-09-15 14:24] mcharg commented on #1716
@jkwonatx The first option is effective at making it clear that there are negative numbers and also makes it easier to compare the amounts across revenue types.  The second option takes away the ability to easily compare across revenue types, which is a fairly common user task.

[2021-09-15 14:26] mcharg commented on #1716
@jkwonatx Another way to get a similar effect to the first one would be to collapse the numbers under a "show details" link like we do on the Revenue by Company graphic.
![image](https://user-images.githubusercontent.com/38465926/133452052-dd157e8b-f5f7-418f-ac05-c5b61b1bea39.png)

[2021-09-15 15:00] Maroyafaied commented on #1726
I will share the goals at the next sync up with the team and get their input on priority levels.

[2021-09-15 17:23] kmhtran commented on #1716
@mcharg I came up with several designs to solve this issue and have two to share that may be effective.

For the first, I thought along a similar thought process as Jae and used the idea of making the bars similar to that of a number line. This seemed the most straightforward to me, but I realized that it may be confusing considering the fact that the bars might be difficult to compare due to all

[2021-09-15 17:34] mcharg commented on #1716
@kmhtran I like the option with the table below.  The one thing we lose with that is the definitions of the revenue types, but we could put those in glossaries.

@jlouis-onrr Do you have feedback on any of the options?

[2021-09-15 18:21] mcharg commented on #1716
@Maroyafaied @cthomasONRR @lpgoldstein Do any of you have feedback?

[2021-09-15 18:36] cthomasONRR commented on #1716
@mcharg I like Jae's first option (and similarly, Kaitlyn's second option) the best. I agree that having a collapsing the 'show details' link will make the data more table-like and less scrolling will be needed.

[2021-09-15 20:10] cthomasONRR commented on #1734
Lindsay also checked and agreed that the production data look good. I am closing this issue.

[2021-09-15 20:10] #1734 closed

[2021-09-16 14:18] mcharg opened #1737 "Update PowerPoint template to include the new team name"
Includes revisiting the NRRD logo.

[2021-09-16 14:35] Maroyafaied opened #1738 "Create end of year accomplishment report to Nathan"
- He only wants it be 1 page and asked to try to tie accomplishments to ONRR's strategic objectives.

[2021-09-16 16:46] #1444 closed

[2021-09-16 16:48] #1410 closed

[2021-09-16 16:50] #1535 closed

[2021-09-16 16:50] mcharg commented on #1428
Also reorder homepage tabs to match order in graphic.

[2021-09-16 16:51] mcharg commented on #1428
Graphic prototype: https://xd.adobe.com/view/6b7d6581-992f-46a5-8d72-035d26beb875-3e2e/

[2021-09-16 16:51] #1569 closed

[2021-09-16 18:48] #1707 closed

[2021-09-16 21:13] codyeckstein opened #1739 "Refine Revenue Card on Homepage Graphic"
Update Revenue Card with more concise explanation.

[2021-09-17 10:51] #1735 closed

[2021-09-17 19:45] mcharg commented on #291
Design we tested:
https://935313.axshare.com/#g=1&p=disbursements

Clickable circle chart for OGOR B that might be an option:
https://dwb2kg.axshare.com/#id=kgdh1w&p=usertesting

[2021-09-17 20:34] mcharg commented on #1716
We'll review and pick a direction in the intern meeting next Tuesday.

[2021-09-20 12:58] mcharg opened #1740 "Look into getting National Park passes for interns"
Info about the program.
Patricia Seiser from NPS mentioned in a Virtual Student Federal Service meeting that they are able to provide their unpaid interns with the pass. ONRR isn't on the list for the pass, but it mentions any work done on lands managed by the agencies listed and our websites present revenue data for lands managed by BLM.
https://store.usgs.gov/faq#Volunteer-Pass

These are the pe

[2021-09-20 12:58] mcharg commented on #1740
@lpgoldstein Is this something you might want to see if you can track down?  I already tried asking the Web Council folks and got crickets.  Patricia said we might try emailing the people on the BLM volunteer contacts page.

[2021-09-20 13:17] jkwonatx commented on #1740
@mcharg @lpgoldstein
I appreciate you both looking into this!

[2021-09-20 14:18] lpgoldstein commented on #1740
@mcharg I'll look into it

[2021-09-20 14:24] mcharg commented on #1740
@lpgoldstein Thank you!

[2021-09-20 15:22] jlouis-onrr opened #1741 "Update lighthouse audit report to occur when pushing from dev to main"

[2021-09-20 16:56] lpgoldstein opened #1742 "Database -disbursements rolling up GOMESA offshore into other funds"
The database is pulling the fund source - gomesa offshore into the other fund category.

![image](https://user-images.githubusercontent.com/39419003/134042499-13f3d514-0663-47ae-babf-929587b24a29.png)

[2021-09-20 18:56] cthomasONRR opened #1743 "Upload August Disbursements"
[https://app.zenhub.com/files/215585796/09bf6f35-3640-439e-8180-defae6d4b70a/download](https://app.zenhub.com/files/215585796/09bf6f35-3640-439e-8180-defae6d4b70a/download)

[2021-09-20 19:38] cthomasONRR commented on #1743
Waiting until after Synch up tomorrow (9/21) to see if I can add this to the existing PR or if I need to make a new PR.

[2021-09-20 21:02] #1738 closed

[2021-09-21 14:37] mcharg opened #1744 "Revise logo(s) to accommodate new team name."

[2021-09-21 14:57] mcharg commented on #1744
![NRRD.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ad007d6b-104e-4dd6-b64b-9face07695f8)![ODDD.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/40d8b083-1a7b-4609-9421-f826eb84a1b6)![ONRR-dot-GOV.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/28d2c488-b26e-4b14-b20c-34c360850f35)

[2021-09-21 17:04] #1704 closed

[2021-09-21 17:05] kjgdata commented on #1704
@cthomasONRR I am closing this now as I have finished.

[2021-09-21 17:16] mcharg commented on #1744
ODD logo with urls.![ODDD_2.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/83bee80b-8185-417b-9377-491300c05d96)

[2021-09-21 18:21] cthomasONRR commented on #1743
Added the August Disbursements to existing PR: https://github.com/ONRR/nrrd/pull/1732

[2021-09-21 19:03] mcharg commented on #1744
Final logos.

![ODDD.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/51e0998f-4645-4433-8609-8f2d5d164d19)
![NRRD.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/68184ee8-e026-47db-8e64-19d86361a662)
![ONRR-dot-GOV.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/a3db7725-7335-497f-8c31-475e93c02558)

[2021-09-21 19:04] #1744 closed

[2021-09-21 19:25] cthomasONRR opened #1745 "Apply to PMF"
https://www.pmf.gov/become-a-pmf/2022-application/

The PMF Class of 2022 Application will open at Noon (Eastern Time), Tuesday, September 28, 2021, and close at Noon (Eastern Time), Tuesday, October 12, 2021.

And contact Lindsay Goldstein to get her PMF experience.

[2021-09-21 19:37] cthomasONRR commented on #1745
@kjgdata
There are 2 webinars next week that you can attend:

Thursday, September 23, 2021 from 3:00-4:00pm (Eastern Time)
This session is open to all disciplines
Register in advance here: https://pmfinfosession09232021.eventbrite.com

Monday, September 27, 2021, from 2:00-4:00pm (Eastern Time)
This session, taking place the day before the application opens, will serve as an open forum for questio

[2021-09-21 21:05] jkwonatx commented on #1716
A quick recap: we got a vote on my first idea and @kmhtran's second idea. @kjgdata  suggested we try using the stacked waterfall chart. @kmhtran and I will play with the design. @cthomasONRR  did raise the issue of accessibility when it comes to more sophisticated charts. We'll take that into consideration. We'll play with Excel and the chart simulation site @mcharg. @Baymatt, thanks for the link

[2021-09-21 21:07] daniel-coleman-1 commented on #1724
Deadline has passed, good luck everyone!

[2021-09-21 21:07] #1724 closed

[2021-09-21 22:31] Maroyafaied commented on #1716
This is a visual from our archived site, wonder if something like this would work with revenue types on the left and the different sources listed as columns instead of the phases.. just a thought.
![image](https://user-images.githubusercontent.com/40175688/134256292-554bbfcd-d117-4d98-9b05-e44aa270e60e.png)

[2021-09-22 13:16] mcharg commented on #1716
Users had a really difficult time understanding that chart. They didn't get why so many were practically empty and they never understood that they all added up to the total on the bottom.  They have a much easier time understanding the current diagram.

[2021-09-22 13:23] cthomasONRR commented on #1743
August data looks good! Closing this issue.

[2021-09-22 13:23] #1743 closed

[2021-09-22 13:42] Maroyafaied commented on #1716
@mcharg Good to know.. let's stay away from it then!

[2021-09-22 15:46] mcharg commented on #1737
PPT template: https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Admin/ODDD%20Branding/ODDD_Template.potx

PPT theme:
https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Admin/ODDD%20Branding/ODDD.thmx

@Maroyafaied @cthomasONRR @lpgoldstein Do you want to review?

[2021-09-22 17:34] Maroyafaied commented on #1737
@mcharg I'm not seeing a difference between the two links? What's the difference between the template and the theme?

[2021-09-22 17:47] mcharg commented on #1737
@Maroyafaied I think the theme makes the styles available to apply to any presentation.

[2021-09-22 17:55] cthomasONRR commented on #1737
It looks good to me! Thanks for all your work on this!

[2021-09-22 17:58] Maroyafaied commented on #1737
@mcharg Ok, thanks. It looks good for me as well.

[2021-09-22 18:29] lpgoldstein commented on #1737
@mcharg Thanks! I love it!

[2021-09-22 18:39] cthomasONRR opened #1746 "Add disclaimers to NRRD Glossary"

[2021-09-22 18:39] cthomasONRR opened #1747 "Add disclaimers to NRRD Glossary"
Language to add at the top of the glossary page:

<p>The definitions in this glossary are simplified. Some are NRRD-specific in their usage. None of the definitions takes precedence over laws, legislation, regulations, contracts, or specific interpretations or rulings.</p>

<p>This glossary defines many commonly used terms and acronyms but isn’t a full list. To request changes to terms on this lis

[2021-09-22 18:40] cthomasONRR commented on #1746
Accidental duplicate. Closing.

[2021-09-22 18:40] #1746 closed

[2021-09-22 19:46] Maroyafaied commented on #1726
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7B1443354E-9BE8-40D6-964A-7012B5440EC5%7D&file=FY%2022%20Goals.xlsx&action=default&mobileredirect=true

[2021-09-22 19:46] #1726 closed

[2021-09-23 13:55] #1737 closed

[2021-09-23 14:09] mcharg commented on #1680
@Maroyafaied @lpgoldstein I sent the presentation and all the other stuff to the IAAF team.

[2021-09-23 14:09] #1680 closed

[2021-09-23 15:47] cthomasONRR opened #1748 "Explore NRRD and get familiar with the datasets"
Please go through https://revenuedata.doi.gov/ and familiarize yourself with the downloadable datasets and their corresponding visualizations.

Here is the link to the nrrd wiki that has the checklists we use to verify that the data uploaded to nrrd are correct: https://github.com/ONRR/nrrd/wiki/Releasing-changes-to-production#updating-data-files

[2021-09-23 17:56] kjgdata commented on #1710
@cthomasONRR Uploading Mentoring worksheet as we discussed #
[Mentoring Worksheet_GomezKiara.docx](https://github.com/ONRR/nrrd/files/7219830/Mentoring.Worksheet_GomezKiara.docx)

[2021-09-23 17:56] #1710 closed

[2021-09-23 18:14] #1742 closed

[2021-09-23 22:05] lpgoldstein commented on #1708
[onrr.gov metrics](https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/EWoa1xIlZSxIip45nuC_uhgBJ3D1D3omd62y2GqeO3lawg?e=BRCmzw)

[nrrd metrics](https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/EYhMmpAIa1lLsWhB5Wuyhd0BlE-aPKP7Z0OLrMukM1aItw?e=4KFpqt)

[2021-09-23 22:05] #1708 closed

[2021-09-24 15:56] mcharg opened #1749 "Developer resume reviews"

[2021-09-24 15:57] mcharg opened #1750 "FOIA metrics"

[2021-09-27 14:58] Maroyafaied opened #1751 "Q4 report to Program Manager"

[2021-09-27 16:00] mcharg opened #1753 "VSFS website feedback"
So I don't forget to do it.

[2021-09-27 18:08] mcharg opened #1754 "September analytics"

[2021-09-27 18:09] lpgoldstein opened #1755 "FY Velocity and Enhancement/Maintenance/Bugs"

[2021-09-27 18:09] mcharg opened #1756 "FY21 analytics"
@daniel-coleman-1 I'll show you how to request unsampled reports to get the FY data.

[2021-09-28 06:48] #1750 closed

[2021-09-28 14:46] mcharg commented on #1753
Document with feedback: https://teams.microsoft.com/l/file/96D9B660-3EEC-4AB0-B072-49733BC1FFFD?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FAdmin%2FMentoring%2FVSFS_website_feedback.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b04

[2021-09-28 15:16] cthomasONRR commented on #1747
Shannon and myself review and approved the PR. Closing this issue.

[2021-09-28 15:16] #1747 closed

[2021-09-28 16:26] jkwonatx commented on #1753
Added feedback on student view below Shannon's.

[2021-09-28 21:28] kmhtran commented on #1716
The design from today's intern meeting: https://t6cz16.axshare.com/#id=wjilqz&p=accordion_bars_original&c=1
@jkwonatx and I will take time to explore the feedback we got regarding adding a zero axis, an additional bar for total revenues, and scaling among total revenues.

[2021-09-29 21:52] #1729 closed

[2021-09-30 00:07] jkwonatx commented on #1716
@kmhtran I've made following edits to your sketch above: added negative bars; the size of all bars now reference the net total; added a hover effect to each bar to show corresponding dollar amount. Here's the link: https://dm7gya.axshare.com

[2021-09-30 13:10] mcharg commented on #1716
@jkwonatx Looking at your design, it wasn't clear to me that the shading on the left was indicating the negative axis.  That might need more labeling.

[2021-09-30 13:11] mcharg commented on #1716
Can we use a show details link like we have on the revenue by company chart, so we're consistent?
![image](https://user-images.githubusercontent.com/38465926/135461481-df322add-514f-4120-9f19-9eba026799c8.png)

[2021-09-30 16:24] mojobnichols opened #1760 "Change US TreasuryAI and Paris in disbursement data"

[2021-09-30 16:53] #1753 closed

[2021-09-30 17:53] daniel-coleman-1 commented on #1739
Fantastic feedback from @codyeckstein

@mcharg @Maroyafaied @cthomasONRR @lpgoldstein please feel free to comment/edit or add thoughts.

https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/ERqYDcycXMNAscv0l2En9ZgBMibEAz9DQG4594kMuqkCRw?e=1WtPJ4

[2021-09-30 18:25] cthomasONRR commented on #1739
@daniel-coleman-1 I like these updates! I think the new text aligns really well with how the data is presented in the visualizations. I think the new Production text is a great simple summary, and I appreciate that you incorporated yesterday's interview comments into this section.

[2021-09-30 18:33] daniel-coleman-1 opened #1761 "Review capitalization guidance"

[2021-09-30 18:34] daniel-coleman-1 opened #1762 "Add ampersand guidance to content guide"

[2021-09-30 19:59] mcharg commented on #1739
I'll review this tomorrow.

[2021-09-30 20:23] #1760 closed

[2021-09-30 22:57] daniel-coleman-1 commented on #1731
https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/EY7NodwsOXpKgPlS957lPnkBcwnM9B85ijssjWXf0vxRUQ?e=JG29fI

[2021-10-01 13:20] mcharg commented on #1739
I added comments.  Most of my feedback has to do with reading level for individual pieces and the production and revenue card intro statements flowing well together, since they're likely to be read together on the page.

[2021-10-01 17:38] #1749 closed

[2021-10-01 18:22] mcharg commented on #1756
Requested unsampled reports, so we have them ready to go Monday.

[2021-10-04 14:25] Maroyafaied opened #1765 "Epic: Acadia"
NRRD:
Continue Cross training
Interview & Hire IT Specialist
Advertise UX vacancy
Finalize negative bar chart design
Publish FY21 Production & Revenue data
Publish GoMESA
FY 21 Metrics
Develop FY 22 content calendar
Initiate content audit
Audit missing terms on glossary
Trouble shooting guide on Circle Ci
Q4 report to Nathan
End of year appraisals and new EPAPS FY22
Summarize FY files from monthly

[2021-10-04 14:34] Maroyafaied opened #1766 "Epic: Acadia"

[2021-10-04 14:36] #1766 closed

[2021-10-04 14:43] mcharg commented on #1756
@daniel-coleman-1 Unsampled reports are in this folder. https://doimspp-my.sharepoint.com/:f:/r/personal/mchargs_mms_gov/Documents/NRRD%20Portal/NRRD%20Metrics/Analytics/FY21?csf=1&web=1&e=5j3CfJ

[2021-10-04 20:08] #1740 closed

[2021-10-04 20:09] lpgoldstein opened #1767 "Update Scrum presentation"
https://doimspp-my.sharepoint.com/:p:/g/personal/goldstel_mms_gov/EYk-X_-iAQlBq77eMNZZqbYBUBoNnergpXYazPnEwoBKOg?e=7J2P4T

[2021-10-04 20:09] #1767 closed

[2021-10-04 20:39] daniel-coleman-1 commented on #1754
September analytics are up and QC'd.  I think they are good to go, but I'm seeing a lot of variance in the Downloads sections.

[2021-10-04 20:39] daniel-coleman-1 commented on #1754
For ONRR.gov users, I'm seeing a (not set) table - I ignored it and posted the one below it.  Should we revisit?
![Screenshot 2021-10-04 130741](https://user-images.githubusercontent.com/83892362/135921650-1ef9a016-30e2-4f8c-9eaf-4b47b5d04849.png)

[2021-10-04 20:56] Maroyafaied opened #1768 "Metrics statement for upper management"
Nichelle would like us to write a similar statement to this for FY21 by Wednesday, the statement can include stats for onrr.gov as well.

"The site now includes 17 years of annual production, revenue, and state and county disbursement data, as well as expanded monthly datasets. The number of monthly users during FY20 increased by 8 percent over FY19, confirming the growing importance of this data

[2021-10-04 21:17] lpgoldstein commented on #1768
@Maroyafaied if we compare NRRD to FY 2018 we are up by 95% for users

[2021-10-04 21:35] Maroyafaied commented on #1768
@lpgoldstein That's crazy! What is it if we compare it to FY 20.

[2021-10-04 23:33] daniel-coleman-1 commented on #1756
These are up, but some of the downloads data seems inconsistent.  I also want to chat briefly about how we should approach reporting the search data in the morning (or at stand up), if that works for you @mcharg

[2021-10-05 12:35] Maroyafaied commented on #1716
@jkwonatx @mcharg I like the grey showing the total, I agree with Shannon about the design not being clear about where the negative area is or where the zero starts. I liked the previous design with the red line showing the zero line.

[2021-10-05 13:29] mcharg commented on #1754
@daniel-coleman-1 I'm getting a 404 error when I click on the NRRD monthly dashboard report for September. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/c70ce890-2a5c-4fd1-a322-b3c35b8cab85)

[2021-10-05 13:30] mcharg commented on #1754
@daniel-coleman-1 I'm seeing 42 site searches, but you have 37. ![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/1abf8bed-9e1c-4c3c-9304-3695c59c04cc)

[2021-10-05 13:34] mcharg commented on #1754
@daniel-coleman-1 I'm seeing different percentages than you have.![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/3bb01ec9-f69d-4457-aeff-192cad705f7e)

[2021-10-05 13:38] mcharg commented on #1756
@daniel-coleman-1 You can leave out browsers less than 1%.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9ef8d5d1-db96-4907-8fe3-d9db42522f9d)

[2021-10-05 13:41] mcharg commented on #1754
Safari (in-app) mobile is above 1% and should be added to browsers.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/89eedd96-ade9-40c2-bfb0-9f76a5de9034)

[2021-10-05 13:47] mcharg commented on #1754
@daniel-coleman-1 Disbursements downloads, I'm seeing one each for Excel and CSV.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b2705a64-00f7-4aac-8dd4-e6511d1900e3)

[2021-10-05 13:58] mcharg commented on #1756
@daniel-coleman-1 These are the numbers for production downloads.  You'll have to combine some of the ones that are the same file, but were in different folders.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0ad8700c-83a4-4bc8-823f-a90f89a7d795)

[2021-10-05 13:59] mcharg commented on #1756
@daniel-coleman-1 You'll also need to do some combining for the revenue files.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/74aff943-fd7c-4572-b821-3c1abf73b4f5)

[2021-10-05 14:03] mcharg commented on #1756
@daniel-coleman-1 What's your question about site searches?  It's pretty straightforward.  There were 526 total search and these were the top terms.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d9a7b918-a309-4275-9646-6410951b5b32)

[2021-10-05 14:08] mcharg commented on #1756
@daniel-coleman-1 I added a column to the downloads xls file, so you can filter by which section each goes in.

[2021-10-05 14:31] mcharg opened #1769 "Evaluate how we want to track downloads going forward"
Since most of them are coming from the query tool, it doesn't make as much sense to track by file.

[2021-10-05 16:15] mcharg commented on #1768
@Maroyafaied Should we also update that PPT we started?

[2021-10-05 18:09] daniel-coleman-1 commented on #1754
@mcharg I think we're good to go here

[2021-10-05 19:07] mcharg commented on #1754
Looks like everything is fixed.

[2021-10-05 19:07] #1754 closed

[2021-10-05 19:56] lpgoldstein opened #1770 "Apply to BOLD.gov"
Each year at BOLD GOV, Government Executive and Nextgov team up to explore the powerful combination of technology, culture, and people that enables government to deliver on its essential mission.

https://www.govexec.com/f/2021-bold-gov-nomination-form/

Do you have colleagues that are transforming the way government operates and provides services? Nominate them to present at BOLD GOV, a virtual c

[2021-10-05 20:49] mcharg commented on #1756
@Maroyafaied @lpgoldstein @mojobnichols is the disbursements.xlsx a new file or is that the file from before we started getting separate monthly and FY files?  Not sure what column it belongs in.

[2021-10-05 21:24] Maroyafaied commented on #1756
@mcharg each data set now has a csv and xlsx, all are newly generated from the database. The xlsx files have a new added tab with field definitions.  Let me know if that answers your question.

[2021-10-05 21:28] daniel-coleman-1 opened #1771 "Identify Post Types and Subtypes for Content Calendar Key"
NRRD Publishing
-Disbursements
-Production
-Revenue
-Blog posts

Campaigns
-Series

Recruiting

Announcements / Updates
-ICYMI (in case you missed it)

Commemoration
-Today in ONRR / US History
-Holiday Observances

Webinar/Presentation/Conference

[2021-10-05 21:49] daniel-coleman-1 commented on #1756
@Maroyafaied  This file doesn't clearly fit into Monthly or FY disbursements:
![Screenshot 2021-10-05 152449](https://user-images.githubusercontent.com/83892362/136107393-a376218e-148a-49ab-8133-988babdfd088.png)

so @mcharg had me create a new column for it, but we're not totally sure if it should go into one of the other columns or stay here and rename the HelloWorld column:
![Screenshot 2021-10

[2021-10-05 21:51] daniel-coleman-1 commented on #1756
**Past Disbursements**, maybe?

[2021-10-05 21:52] daniel-coleman-1 commented on #1756
Here's the file if you want to take a look:
[disbursements.xlsx](https://github.com/ONRR/nrrd/files/7289448/disbursements.xlsx)

[2021-10-05 22:01] Maroyafaied commented on #1756
@daniel-coleman-1 @mcharg this is the old Fiscal Year file before we had the database generate it.

[2021-10-05 22:02] daniel-coleman-1 commented on #1756
@Maroyafaied @mcharg I'll combine it with the other FY xls numbers.
If that works, I think we're good to close this one.

[2021-10-05 22:35] Maroyafaied commented on #1768
Submitted to Nichelle.

[2021-10-05 22:35] #1768 closed

[2021-10-06 13:09] mcharg commented on #1756
@daniel-coleman-1 There's a disbursements.csv that should be added to the FY csv number.
![image](https://user-images.githubusercontent.com/38465926/136208585-7f0599b6-b868-4ec7-910a-f2ec59a73f87.png)

[2021-10-06 13:13] mcharg commented on #1756
@daniel-coleman-1 The revenue by company file used to have dates in it, so those need to be added to the numbers.
![image](https://user-images.githubusercontent.com/38465926/136209149-a583cda3-cfa5-4e92-aedb-f3c3441a6975.png)

[2021-10-06 13:14] mcharg commented on #1756
@daniel-coleman-1 There's a second file that needs to be added to the fiscal year production csv number.
![image](https://user-images.githubusercontent.com/38465926/136209437-7ef3fa9e-ac21-496e-a9db-8ed9d74cdf63.png)

[2021-10-06 13:16] mcharg commented on #1756
@daniel-coleman-1 I'm getting 98 for the monthly production csv, not 105.
![image](https://user-images.githubusercontent.com/38465926/136209740-4104a3f1-6c1a-476e-958d-0321de45d789.png)

[2021-10-07 17:16] Maroyafaied opened #1772 "Update Metrics Presentation"

[2021-10-07 18:15] daniel-coleman-1 commented on #1756
@mcharg resolved, can you review?

[2021-10-07 20:02] ghost opened #1773 "Convert Accessible Email Guide to markdown & add to wiki"
https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/EY7NodwsOXpKgPlS957lPnkBcwnM9B85ijssjWXf0vxRUQ?e=JG29fI

[2021-10-08 15:15] cthomasONRR opened #1774 "Review Kiara's PMF application materials"
Kiara emailed Christine and Lindsay her resume materials for her PMF application. This issue is to make sure we don't forget to review!

[2021-10-08 17:09] #1774 closed, assigned to lpgoldstein, cthomasONRR

[2021-10-08 19:09] #1745 closed, assigned to kjgdata

[2021-10-12 14:38] Maroyafaied opened #1775 "Develop FY 22 Content Calendar"

[2021-10-12 14:39] Maroyafaied opened #1776 "Preform Content Audit & Identify issues"

[2021-10-12 14:40] Maroyafaied opened #1777 "Rewrite FY 22 EPAPS"

[2021-10-12 16:33] Maroyafaied opened #1778 "Update fields & definitions for all the data sets download pages"
Make sure the fields are still relevant and matching the download file. For example, in the production monthly download page we have a field for Month and Calendar Year but those fields now are consolidated into "Date".

[2021-10-12 17:19] Maroyafaied commented on #1772
Use the accessible power point template for this.

[2021-10-12 17:24] Maroyafaied commented on #1775
@lpgoldstein will help to identify conferences.

[2021-10-12 17:29] Maroyafaied commented on #1778
Any changes to fields need to be updated on the excel sheets as well.

[2021-10-12 23:24] Maroyafaied opened #1779 "Develop definitions G- L"

[2021-10-13 15:20] lpgoldstein opened #1780 "Upload production data June 2021"

[2021-10-14 13:09] mcharg commented on #1739
I sent @arcasarana an email asking for the XD file, so I can edit the prototype.

[2021-10-14 13:14] Maroyafaied commented on #1716
@kmhtran This is looking great, thank you for your work. The only feedback I have is if we can make the red line longer or skinner so it doesn't look like it's one of the revenue sources and more clear that it's a "Zero axis".

[2021-10-14 16:42] kmhtran commented on #1716
@Maroyafaied @mcharg https://t6cz16.axshare.com/#id=sjl6kn
I played with making the line skinnier but it was getting close to disappearing completely amongst the other bars so I made the red line longer to stick out both over and under the bar and added a 0 above the first bar's axis.

[2021-10-14 18:07] mcharg opened #1782 "Implement negative numbers design on horizontal bar charts"
Design:
https://t6cz16.axshare.com/#id=sjl6kn

[2021-10-14 18:07] mcharg commented on #1716
Created #1782 to build.

[2021-10-14 18:07] #1716 closed

[2021-10-15 15:28] mcharg opened #1783 "Look into Touchpoints survey tool"
https://touchpoints.digital.gov/

Survey tool managed by GSA that might allow us to collect feedback on our sites without triggering PRA review as long as we don't collect PII.

[2021-10-15 16:09] mcharg opened #1784 "Update NRRD Axure widget library to Axure 10"

[2021-10-18 13:27] Maroyafaied opened #1785 "Plan trivia game for next team meeting (Nov 15th)"

[2021-10-18 13:42] mcharg opened #1786 "Update homepage graphic XD file"
With the new copy.

[2021-10-18 19:35] cthomasONRR commented on #1770
@lpgoldstein here's my write-up for the 508 presentation. Please feel free to modify!

**What is the proposed theme or title of the presentation?**
From 5,000 to 0: Prioritizing Documents for 508-Compliant Remediation

**Please give us a four sentence description of what this presentation would showcase.**
When the Director of the Office of Natural Resources Revenue (ONRR) decided to ensure all do

[2021-10-18 20:08] cthomasONRR commented on #1770
@lpgoldstein Yours looks good! Should I write more for mine??

[2021-10-18 20:10] lpgoldstein commented on #1770
@cthomasONRR I think yours looks good too - it has all of the keywords but isn't too wordy. I'm worried mine is too long. @mcharg or @Maroyafaied do you want to review before we submit?

[2021-10-19 18:16] #1769 closed, assigned to mcharg, lpgoldstein, codyeckstein

[2021-10-19 19:13] lpgoldstein commented on #1770
@cthomasONRR I did the same thing.

[2021-10-19 19:13] #1770 closed

[2021-10-20 13:35] mcharg opened #1787 "Convert to using sprints"
ZenHub will be removing Milestones by the end of the year.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/92b335ee-043e-4cc1-81d0-38bf9dd911f7)

[2021-10-20 18:07] #1780 closed, assigned to lpgoldstein, codyeckstein

[2021-10-20 20:35] Maroyafaied commented on #1775
@daniel-coleman-1 Looks good, thanks!

[2021-10-20 21:26] #1771 closed

[2021-10-21 00:08] Maroyafaied commented on #1787
They do an extension to give us Zenhub features within Github but then take milestones away.. how annoying lol but it shouldn't be a big deal since the Sprints feature now shows up on GitHub.

[2021-10-21 13:16] mcharg opened #1790 "Give feedback on 508 other comms plan"
That Nichelle sent.

[2021-10-21 15:47] #1772 closed, assigned to mcharg, lpgoldstein

[2021-10-21 17:17] #1775 closed

[2021-10-22 13:28] #1784 closed, assigned to mcharg

[2021-10-22 16:05] #1773 closed, assigned to nobody

[2021-10-25 15:42] Maroyafaied opened #1792 "Upload & Review Data"

[2021-10-25 15:42] Maroyafaied opened #1793 "Upload & Review Data"

[2021-10-25 15:42] #1793 closed, assigned to lpgoldstein, cthomasONRR

[2021-10-25 17:25] cthomasONRR opened #1794 "Create data check template in PowerBI - raw and downloaded comparison"
@kjgdata I made an issue here for your independent project. We can use this as a forum to discuss!

[2021-10-26 17:13] cthomasONRR opened #1795 "Lower the reading level or established definitions"
Glossary definitions are located [here](https://teams.microsoft.com/l/file/8FF796B3-4580-442C-9BE0-4768938BB9A6?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FONRR.gov%2FONRR_Glossary_Terms.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9e

[2021-10-26 17:15] #1795 closed, assigned to cthomasONRR, codyeckstein

[2021-10-27 20:17] mcharg opened #1797 "October Analytics"

[2021-10-28 12:54] #1790 closed, assigned to mcharg

[2021-10-28 19:04] ghost opened #1798 "Update Pages with Glossarries/Dictionaries"
https://revenuedata.doi.gov/glossary
https://revenuedata.doi.gov/downloads/production-by-month/
https://revenuedata.doi.gov/downloads/production/
https://revenuedata.doi.gov/downloads/revenue/
https://revenuedata.doi.gov/downloads/federal-revenue-by-company/
https://revenuedata.doi.gov/downloads/disbursements-by-month/
https://revenuedata.doi.gov/downloads/disbursements/

[2021-10-29 15:14] mcharg opened #1799 "Due Nov 10: IDEA reporting"
We need to provide data for DOI's IDEA report.

[2021-10-29 16:24] #1798 closed, assigned to nobody

[2021-10-29 16:44] daniel-coleman-1 opened #1800 "Update Glossary page"
Convert glossary items to title case and correct sentence/fragment punctuation agreement

https://nrrd-preview.app.cloud.gov/sites/production-cy/glossary/

[2021-10-29 16:50] daniel-coleman-1 opened #1801 "Reduce Reading Level: how-revenue-works/ownership/"
Currently coming in at grade level 12, Split Ownership paragraph comes in at 11 and Natural Resource Ownership comes in at 15.

https://revenuedata.doi.gov/how-revenue-works/ownership/

[2021-10-29 16:56] daniel-coleman-1 opened #1802 "Reduce Reading Level: /how-revenue-works/minerals/"
Overall the page comes to 12.

Nonenergy Minerals section comes back as 16.  Plan - 16.  Claim - 13. Explore - 12.  Develop - 14.  Decommission and Reclaim - 11.

[2021-10-29 16:59] daniel-coleman-1 opened #1803 "Reduce Reading Level: how-revenue-works/hpf/"
Historic Preservation Fund - 9.  Funding Priorities - 12.  Authorization and funding - 12.  Distribution of funds - 13.

[2021-10-29 19:50] daniel-coleman-1 opened #1804 "Correct Broken Link"
https://revenuedata.doi.gov/how-revenue-works/native-american-revenue/

Link Text: Documentation about the federal and Native American revenue dataset
Landing Location:  /downloads/federal-revenue-by-location

[2021-10-29 20:14] daniel-coleman-1 opened #1805 "Reduce Reading Level: /how-revenue-works/offshore-oil-gas/"
https://revenuedata.doi.gov/how-revenue-works/offshore-oil-gas/

Offshore Oil & Gas - 15. Plan - 12.  Lease - 13.  Explore - 14.   Develop - 14.  Decommission and reclaim - 14.

[2021-10-29 20:22] daniel-coleman-1 opened #1806 "Reduce Reading Level for /how-revenue-works/federal-reforms/"
https://revenuedata.doi.gov/how-revenue-works/federal-reforms/

Fed Reforms to DH - 11.  Deepwater Horizon - 13.   Dodd Frank - 11.

[2021-10-29 21:01] daniel-coleman-1 opened #1807 "Reduce Reading Level for /how-revenue-works/native-american-ownership-governance/"
As this is one of our most viewed pages, this should be a higher priority.

https://revenuedata.doi.gov/how-revenue-works/native-american-ownership-governance/

beginning to laws and regulations - 11.  History of federal obligations - 13.  General allotment act - 13.   Indian reorganization act of 1934 & Indian Mineral Leasing Act of 1938 - 9.  Indian Mineral Development Act of 1982 - 12.  Indian

[2021-10-29 21:51] daniel-coleman-1 opened #1808 "Reduce Reading Level for /how-revenue-works/native-american-revenue/"
Revenue from Natural Resources on Native American Land - 12.  Revenue Collection - 15.  Revenue Distribution - 11.  Revenue Data - 15.  Audits and Assurances - 15.

[2021-11-01 12:33] mcharg commented on #1786
@codyeckstein Are you good with Maroya's update?

[2021-11-01 20:29] lpgoldstein opened #1809 "fix monthly data issue on live and dev"
on homepage monthly charts are showing old data instead of through most recent available month for all three data types.
Example
![image](https://user-images.githubusercontent.com/39419003/139737548-06d82fce-fa8f-4534-9c2c-88e2001e0056.png)

[2021-11-01 22:27] #1787 closed

[2021-11-02 15:43] Maroyafaied commented on #1777
I've re-written all the EPAP's , they are ready for review and input on DOI Talent.

[2021-11-02 21:28] daniel-coleman-1 opened #1810 "Build NRRD Site Map"

[2021-11-02 21:31] daniel-coleman-1 opened #1811 "Reduce Reading Level for /how-revenue-works/onshore-oil-gas/"
Onshore Oil & Gas - 13.  Plan - 13.  Lease - 11.  Explore - 14.  Develop - 13.  Decommission and reclaim - 15.

[2021-11-02 21:47] daniel-coleman-1 opened #1812 "Reduce Reading Level for /how-revenue-works/audits-and-assurances/"
Audits and Assurances - 13.  Tracking and Verifying Payments - 16.  Company Standards and Oversight - Post-graduate.  Federal standards and audits - 14.  Federal revenue reporting - 12.

[2021-11-03 14:17] #1777 closed

[2021-11-03 14:19] Maroyafaied commented on #1786
I spoke to @codyeckstein about this during our check in , the edits above comes back as grade 11 in hemingway but it works for now so closing this issue.

[2021-11-03 14:19] #1786 closed

[2021-11-03 14:21] Maroyafaied commented on #1776
@daniel-coleman-1 can you post the right link to the content audit so I can review? The one above is not the same as you showed yesterday. Thanks

[2021-11-03 14:27] mcharg commented on #1428
Final copy below.
![final_prototype.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/0b59191b-de42-45fd-9844-0032cdc652cd)
![final_prototype – 1.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/ac67a216-1ae1-4d9f-a1ee-1c78bcd32e48)
![final_prototype – 2.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/bc9585f1-37e5-4a4c-982d-3a0b59e1ba8e)
![fin

[2021-11-03 14:30] mcharg commented on #1786
I updated the XD file and put screenshots and copy/pasteable copy in #1428 for implementation.

[2021-11-03 14:30] mcharg commented on #1428
Intro paragraph:
Companies pay to produce energy and minerals on federal and Native American property. The Office of Natural Resources Revenue (ONRR) collects, audits, and distributes these payments. The payments go to funds, local governments, Native Americans, and the U.S Treasury.

Production front:
Companies and individuals lease federal lands, Native American lands, and designated offshore ar

[2021-11-03 14:34] mcharg commented on #1428
Production icon: I think @arcasarana made this from the rig icon @jlouis-onrr has.

Revenue icon: https://thenounproject.com/cfpb_minicons/uploads/?i=89548

Disbursements icon: https://thenounproject.com/search/?q=money+distribution&i=552155 (We will need to add a credit to the humans.txt file.)

[2021-11-03 17:40] daniel-coleman-1 opened #1813 "Research needs for cognitive disabilities and add guidance to content guide"
Structuring text and definitions to be accessible to folks with cognitive disabilities

[2021-11-04 14:47] Maroyafaied opened #1814 "Add content to WYMHM Nov edition - due Nov 15th"
https://doimspp.sharepoint.com/:w:/s/ONRRWebContentTeam/EaOnraOKV2JJoedjDvm49J8B28MLxhIsAJRH-qXUKdUuRA?email=Maroya.Faied%40onrr.gov&e=4%3ADOdS97&CID=7057d788-f92a-dc4e-d11c-253af8ffb188

[2021-11-04 15:26] Maroyafaied opened #1815 "Fix homepage monthly dropdown to show FY 2021"
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/571c6a0c-61e1-4579-9184-813459bc4246)

[2021-11-04 17:09] lpgoldstein opened #1816 "Update definitions in download spreadsheets"
Update definitions in download files to match the download pages.
C:\Users\goldstel\nrrd\database\static\csv\data_dictionary

[2021-11-04 19:06] Maroyafaied opened #1817 "Answer FOIA's questions"
I’m hoping you or someone on your staff can help with answers to some questions for “Chief Officer Report” to DOJ; the questions are regarding proactive disclosures of non-public information.  I think that the Revenue Data site is a way that ONRR proactively discloses typically non-public information.  Note:  I also asked Shannon a question regarding website earlier – I will forward that message.

[2021-11-04 19:43] Maroyafaied commented on #1817
Send link to Tracey Fey to review. http://2017onrr/

[2021-11-04 22:41] Maroyafaied commented on #1776
@daniel-coleman-1 the edited link says I don't have access, can you put this is our shared drive and post the link. Thanks

[2021-11-04 22:55] daniel-coleman-1 commented on #1776
@Maroyafaied here's the link:
https://doimspp-my.sharepoint.com/:x:/g/personal/mchargs_mms_gov/EfAoWgc43uRAn0jNWMk0x8gBtJ9ier2tZh7lxeAFKOS8NQ?e=wEOPmA

[2021-11-05 14:35] Maroyafaied commented on #1776
@daniel-coleman-1 The audit is missing a few pages on the website, explore data hasn't been done and it looks like previous audits went through all the States and offshore regions. The glossary, fact sheet, and a few download pages were also missing from the audit. Also, some of the notes and descriptions are from the last audit and no longer relevant.

https://revenuedata.doi.gov/explore?dataType

[2021-11-05 14:56] #1778 closed

[2021-11-05 14:57] #1809 closed

[2021-11-05 15:35] Maroyafaied commented on #1817
@mcharg @lpgoldstein I have drafted answers to this FOIA request (except #4). Please review and make any necessary changes or additions. This can wait till next week. Thanks https://doimspp.sharepoint.com/sites/NRRD/Shared%20Documents/General/Admin/FOIA%20-%20proactive%20disclosures.docx?web=1

[2021-11-05 15:38] mcharg commented on #1817
@Maroyafaied Looks good.

[2021-11-05 16:55] daniel-coleman-1 commented on #1762
![Screenshot 2021-11-05 105440](https://user-images.githubusercontent.com/83892362/140548627-20d09f74-717b-4c13-96d5-d170d3167c35.png)

[2021-11-05 16:55] #1762 closed

[2021-11-05 18:31] Maroyafaied commented on #1817
@mcharg Thanks, I incorporated your comment. Will send to the FOIA team.

[2021-11-05 18:31] #1817 closed

[2021-11-05 18:54] lpgoldstein commented on #1817
@Maroyafaied Looks great! I made a few proofreading type edits.

[2021-11-05 19:03] daniel-coleman-1 commented on #1761
![Screenshot 2021-11-05 110001](https://user-images.githubusercontent.com/83892362/140564682-07ea5f35-bf1e-4a1f-a8dd-0030b62926d7.png)

[2021-11-05 19:03] #1761 closed

[2021-11-05 20:32] cthomasONRR commented on #1792
I added in the updated April and May Revenue, plus the new September Revenue data to PR #1791.

[2021-11-05 20:54] cthomasONRR commented on #1792
The new data is on the preview site. I'm about to sign off for the day, but will start checking first thing Monday morning.

[2021-11-05 22:05] daniel-coleman-1 commented on #1814
requested access

[2021-11-05 22:09] daniel-coleman-1 opened #1818 "Correct NRRD Link onshore renewable"
https://revenuedata.doi.gov/how-revenue-works/onshore-renewables/

[2021-11-08 13:45] Maroyafaied commented on #1815
@mojobnichols ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/f3b0d5f4-798e-4828-84ce-2d7ef9492244)

[2021-11-08 13:55] Maroyafaied commented on #1815
@mojobnichols the data is correct but the label in the dropdown is wrong. It's pulling FY21 data but labeling it as FY 2020.

[2021-11-08 16:32] Maroyafaied opened #1819 "Prepare Demo for ELT"

[2021-11-08 17:46] daniel-coleman-1 commented on #1797
@mcharg these are the most downloaded items from NRRD from October 01-31.  I'm thinking we list the top 5, what are your thoughts?

![Screenshot 2021-11-08 104411](https://user-images.githubusercontent.com/83892362/140791814-62fa3afe-6304-410d-a9d8-945ba7e71599.png)

[2021-11-08 18:32] daniel-coleman-1 commented on #1814
Added [Christa's blog post](https://blog-nrrd.doi.gov/agile-methodology/)

[2021-11-08 18:43] Maroyafaied opened #1820 "Add press releases to cms"

[2021-11-08 18:59] mcharg commented on #1797
@daniel-coleman-1 I think that would be a waste of time because the bulk of downloads are happening from the query tool.  What we agreed on when we met was a count of the total downloads from the download page and a count of the total downloads from the query tool.

[2021-11-08 19:36] mcharg opened #1821 "Add missing redirects from the old site"
This will fix links in blog posts.

Old link: https://revenuedata.doi.gov/explore/revenue/
Redirect to: https://revenuedata.doi.gov/query-data

Old link: https://revenuedata.doi.gov/downloads/federal-revenue-by-location/
Redirect to: https://revenuedata.doi.gov/downloads/revenue/

Old link: https://revenuedata.doi.gov/downloads/federal-production/
Redirect to: https://revenuedata.doi.gov/downloads

[2021-11-08 20:30] Maroyafaied commented on #1821
@jlouis-onrr can you show @daniel-coleman-1 how to do redirects.  By doing so , it'll fix most of the blog posts with broken links. Thanks

[2021-11-08 21:54] daniel-coleman-1 commented on #1776
@Maroyafaied this is ready for your review

[2021-11-08 22:07] Maroyafaied commented on #1776
@daniel-coleman-1 Can you delete the tabs for explore, archive and docs since they are not relevant to this year's audit.  For the glossary page, there are terms there that need to be removed since they are no longer relevant to the current website, so can you note that in the audit and create an issue. For the explore page, did you audit the production, revenue, and disbursement data types like I

[2021-11-08 22:16] daniel-coleman-1 commented on #1776
@Maroyafaied I removed Archive but kept Explore because it reflects commodities extracted in FY 2020.  I'll remove docs but it makes sense to me to keep the sheet for the explore cards.

That page comes back at 7 for overall reading level, it has a few sentences that come back as hard to read (like the example you provided) but overall the page comes back at below the target reading level. General

[2021-11-08 22:23] Maroyafaied commented on #1776
@daniel-coleman-1 the explore tab is from a previous audit and the description is for commodities in CY 2018. Also the archive tab is still there and hasn't been removed.  Also, explore data page doesn't have much content except the nationwide summary statement so wondering how that page came back as reading level 7 since it's full of charts? This is the content audit I'm looking at that still hav

[2021-11-08 22:38] daniel-coleman-1 commented on #1776
@Maroyafaied here's the correct link:
https://doimspp-my.sharepoint.com/:x:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BDB134184-4C07-48DD-AACE-FA19CA3C1A84%7D&file=content_audit_FY22.xlsx&action=default&mobileredirect=true

[2021-11-08 22:40] daniel-coleman-1 commented on #1776
@Maroyafaied the other text on the Explore Data page is mainly either nouns or simple descriptive sentences, pretty simple. I don't think the software engages with the charts at all.

[2021-11-08 23:00] Maroyafaied commented on #1776
@daniel-coleman-1 For the explore tab, can you delete the columns that aren't relevant to this audit (columns F-Q).  I don't see this page in the audit that I mentioned in the above comments. https://revenuedata.doi.gov/downloads#Data-Collection-and-Validation

[2021-11-08 23:04] daniel-coleman-1 commented on #1776
@Maroyafaied deleted irrelevant columns; I left out the Data Collection page because that text lives in the Downloads page:
https://revenuedata.doi.gov/downloads

[2021-11-08 23:24] #1776 closed

[2021-11-09 21:46] jlouis-onrr opened #1822 "Revamp Menu Items data modeling"

[2021-11-09 21:52] Maroyafaied opened #1823 "Options for accessible versions for the organizational values visual"
Kimbra would like to see this visual with the new accessible ONRR logo and ensure that it's accessible

https://onrresource/About-Us/ONRR-Information/ONRR-Organizational-Values/

[2021-11-09 21:53] Maroyafaied opened #1824 "Options for accessible versions for the organizational values visual"
Kimbra would like to see this visual with the new accessible ONRR logo and ensure that it's accessible

https://onrresource/About-Us/ONRR-Information/ONRR-Organizational-Values/

[2021-11-09 21:59] mcharg commented on #1824
@Maroyafaied Do you know who would have the source file for this?

[2021-11-09 22:15] Maroyafaied commented on #1824
I'll ask Nichelle.

[2021-11-10 13:51] Maroyafaied opened #1825 "Blog vulnerability reported by an outside source"
@jlouis-onrr @mojobnichols please look for a solution to remediate the code on the blog

Remediation

Don't allow user input in file paths. If hard-coding is not an option, select input from a limited list via an index variable.

If dynamic path concatenation is a must have. Only accept required characters. Allow a-z 0-9 and do not allow .. or / or %00 (null byte) or any unexpected characters.

Fo

[2021-11-10 14:14] #1819 closed

[2021-11-10 14:25] Maroyafaied commented on #1814
![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/181680cd-0b81-439c-9549-6a2e68f9abcb)

[2021-11-10 16:06] Maroyafaied commented on #1814
Since this is due next Monday, I went ahead and made the updates. @mcharg can you review? Here is what I added incase you don't have access to the document.

**Open Data, Design, & Development (ODDD):**

- The ODDD team interviewed 30 ONRR employees to better understand challenges and resources needed around section 508 Compliance to help employees support this law.

- The section 508 Compliance p

[2021-11-10 16:08] mcharg commented on #1814
@Maroyafaied I just changed "correct" to "corrected" in the second bullet.

[2021-11-10 16:10] Maroyafaied commented on #1825
@jlouis-onrr here are pics and documents included in the emails we received
<img width="1920" alt="1" src="https://user-images.githubuserco
<img width="1920" alt="2 (1)" src="https://user-images.githubu
[blog-nrrd.doi.gov.pdf](https://github.com/ONRR/nrrd/files/7514221/blog-nrrd.doi.gov.pdf)
sercontent.com/40175688/141149527-9bd1804f-49ab-4e7c-bb10-48cbbec103ba.png">
ntent.com/40175688/141149517-d

[2021-11-10 16:12] mcharg commented on #1814
@Maroyafaied I made my edits to your comment, since I don't have access to the document.

[2021-11-10 16:13] #1799 closed

[2021-11-10 16:14] Maroyafaied commented on #1814
@mcharg thanks

[2021-11-10 16:14] #1814 closed

[2021-11-10 19:52] #1825 closed

[2021-11-10 21:02] mcharg commented on #1824
@Maroyafaied Here's a PowerPoint with all the options.  You can choose which to present to leadership. https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/Admin/ONRR%20PPTs/Values.pptx?d=w7b29a43e119047eba82b685534f4eb00&csf=1&web=1&e=LkeW9h

[2021-11-10 21:49] Maroyafaied commented on #1824
@mcharg slides 2, 3, 4, and 5 are my top choices but happy to hear what others think. I'll also show Nathan before we eliminate any of them.

[2021-11-10 21:53] Maroyafaied commented on #1824
@mcharg can you put the original one as the 1st slide to show comparison when talking to Nathan. Thanks

[2021-11-10 21:57] mcharg commented on #1824
@Maroyafaied Done

[2021-11-10 22:08] lpgoldstein opened #1826 "Update generated download file to correctly label the columns in the federal revenue by company file."
**Current column header -> new header**
Corporate Name -> Company Name
Revenue Agency Type -> Revenue Type

[2021-11-10 22:51] Maroyafaied opened #1827 "Write a stronger justification for using Slack"
https://teams.microsoft.com/l/file/A582E56B-4B2D-49A4-8F7D-330A0CC67DAD?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FAdmin%2FSlack%20Business%20Justification.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&threadId=19:34f9f9ee6b0441dbacab56bfd552f819@thre

[2021-11-12 17:27] lpgoldstein opened #1828 "Onboard Isabel"
In order to get `Isabel` productively contributing to the NRRD website team, `Shannon` should help `Isabel` complete a prescribed set of tasks that will bring them up to speed.

# Directions

**`Isabel`:** If you can’t complete any of the items on your checklist personally, you are responsible for ensuring that someone with the correct access completes that item.

**`Isabel`:** Take judicious note

[2021-11-12 19:12] lpgoldstein opened #1829 "Change county to parish in database for Louisiana disbursements"
This shows up in the query tool. Not urgent.

![image.png](https://images.zenhubusercontent.com/5c59d3cd7592186396262002/010c8c0f-df3f-4b71-a703-e8284d45cf8e)

[2021-11-15 17:57] lpgoldstein commented on #1827
@Maroyafaied This is ready for your review/discussion. We can go over in our check in tomorrow?

[2021-11-15 18:23] Maroyafaied commented on #1800
Add tags to anything changed. Also, audit terms that are no longer on the website.

[2021-11-15 18:27] Maroyafaied commented on #1804
This will get resolved with reconnected links.

[2021-11-15 18:27] #1804 closed

[2021-11-15 18:31] Maroyafaied commented on #1806
@daniel-coleman-1 fix misspelling ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/53a38997-7e02-4265-b51a-533b038d13df)

[2021-11-15 18:32] Maroyafaied commented on #1807
This was worked on last year.

[2021-11-15 18:32] #1807 closed

[2021-11-15 18:32] Maroyafaied commented on #1808
This was done last year.

[2021-11-15 18:32] #1808 closed

[2021-11-15 18:42] mcharg commented on #1823
Duplicate

[2021-11-15 18:42] #1823 closed

[2021-11-15 19:01] Maroyafaied commented on #1812
@daniel-coleman-1 I don't believe this was worked on last year. @mcharg the page that was removed was the Native American Economic Impact Page. https://github.com/ONRR/nrrd/pull/1378

[2021-11-15 19:55] Maroyafaied commented on #1827
@lpgoldstein I've reviewed and added a section specific to Microsoft teams and moved somethings around. Can you take a final look and make any necessary changes and I'll send it off later this afternoon.

[2021-11-15 20:06] Maroyafaied opened #1831 "Add historical revenue file to NRRD"
Find a place to put historical revenue data 1982-2002 on the NRRD. This would be just the file and not incorporated in the database.

[2021-11-15 20:13] cthomasONRR commented on #1831
We could add a new section in Downloads (https://revenuedata.doi.gov/downloads). Here's a mock-up:
![image.png](https://images.zenhubusercontent.com/60f9807ebc2bf779cc3921f2/458d6a84-5788-4118-9331-2a0013a9ff0d)

[2021-11-15 20:48] lpgoldstein commented on #1827
@Maroyafaied That makes more sense now. I like the bullet list at the end. I just went through it one more time. If you accept the changes we should be good to go.

[2021-11-15 20:53] Maroyafaied commented on #1827
@lpgoldstein Thanks, I send it.

[2021-11-15 20:53] #1827 closed

[2021-11-16 13:41] Maroyafaied opened #1833 "Upload July 21 Production & Oct 21 Revenue"

[2021-11-16 13:41] Maroyafaied opened #1834 "Upload Oct 21 Disbursements"

[2021-11-16 16:01] lpgoldstein opened #1835 "Switch definitions on monthly download page with definitions on fy download page for disbursements"
Just swap the definitions from one page to the other

also take treasury ai as a fund type out
Change total to disbursements

[2021-11-16 20:46] #1835 closed

[2021-11-16 20:52] #1821 closed

[2021-11-17 17:24] Maroyafaied commented on #1792
Done..Finally!

[2021-11-17 17:24] #1792 closed

[2021-11-17 17:25] Maroyafaied commented on #1815
Fixed.

[2021-11-17 17:25] #1815 closed

[2021-11-17 17:25] Maroyafaied commented on #1818
Done.

[2021-11-17 17:25] #1818 closed

[2021-11-17 19:05] daniel-coleman-1 commented on #1797
@mcharg this is ready for review

wiki update:
![Screenshot 2021-11-17 114242](https://user-images.githubusercontent.com/83892362/142262542-f9072ac4-b103-4bd8-b045-9923de6b4faf.png)

[2021-11-17 19:32] cthomasONRR commented on #1785
Great job @codyeckstein!!! Closing this issue.

[2021-11-17 19:32] #1785 closed

[2021-11-17 21:12] mcharg commented on #1797
@daniel-coleman-1 Safari mobile should be 12.73%.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8b44807f-6240-4f4a-966a-192c2ea086ef)

[2021-11-17 21:14] mcharg commented on #1797
Otherwise, looks good.

[2021-11-18 00:38] daniel-coleman-1 commented on #1797
Resolved issues, thanks for taking a look @mcharg

[2021-11-18 00:38] #1797 closed

[2021-11-19 21:32] #1824 closed

[2021-11-22 14:23] mcharg commented on #1801
@lpgoldstein Did Jennifer do this one last year?

[2021-11-22 14:59] cthomasONRR commented on #1783
Here is some useful information I found while researching Touchpoints:

- PRA-friendly: Touchpoints provides a common feedback survey template that leverages an existing PRA clearance.
- BUT- I cannot find on their website which PRA they are referencing. It would be good to have that information so we can reference the exact PRA when sending it out.
- You have to make an account with Login.gov to

[2021-11-22 15:11] cthomasONRR commented on #1783
After reading closely to the wiki page, they are a bit sneaky in saying 'PRA-friendly'... this does not mean a PRA is not needed. It just means that our questionnaires will be under GSA's existing PRA (https://www.federalregister.gov/documents/2019/07/03/2019-14217/information-collection-improving-customer-experience-implementation-of-section-280-of-omb-circular). We will still have to submit PRA-

[2021-11-22 15:43] lpgoldstein commented on #1801
@mcharg Yes I think so - especially after reading it.

[2021-11-22 16:06] lpgoldstein opened #1839 "Epic: Bears Ears"
NRRD:
Advertise UX vacancy
Publish FY21 Production & Revenue data
Publish GoMESA
FY 21 Metrics
Trouble shooting guide on Circle Ci
Summarize FY files from monthly files
Receive & upload revenue historical data
Figure out revenue by company columns
Dashboard PowerBI for revenue data
Possibly redesign snapshot
Create download page for historical revenue data
Fix issues from content audit
Build Sitem

[2021-11-22 16:36] ryanwoldatwork commented on #1783
hi @cthomasONRR, ONRR has been setup in Touchpoints. You will now be able to login successfully.

https://touchpoints.digital.gov/

[2021-11-22 16:41] cthomasONRR commented on #1783
@ryanwoldatwork Thanks! We have a meeting scheduled for after Thanksgiving to discuss if Touchpoints is the right fir for our group. I'll link up with you after that with some additional questions. Thanks for your swift response!

[2021-11-22 18:04] #1801 closed

[2021-11-22 18:13] jlouis-onrr opened #1840 "Create collection toolbar and filters"

[2021-11-23 16:07] mcharg opened #1841 "Create 4:3 version of PPT template"
The training teams requested it, so they can easily update existing presentations.

[2021-11-23 17:28] daniel-coleman-1 commented on #1810
5.0.3

[2021-11-23 20:41] mcharg opened #1842 "Update ONRR logo on NRRD site"
It's on this page.
https://revenuedata.doi.gov/about/

[2021-11-23 21:21] #1841 closed

[2021-11-24 15:07] cthomasONRR commented on #1833
Data is uploaded. I reviewed, and all data is matching exactly!

[2021-11-26 23:36] daniel-coleman-1 commented on #1810
@Maroyafaied this is ready for your review

[2021-11-29 15:48] Maroyafaied opened #1846 "Update Coal Excise Tax page with 2020 data"
https://revenuedata.doi.gov/how-revenue-works/coal-excise-tax

[2021-11-29 16:01] Maroyafaied opened #1847 "update link in audit & assurance page"
When reviewing the sitemap I noticed this link gives an error page, you can update it with this link https://www.aicpa.org/home

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/f8a81e70-6fa7-4d89-a9e1-d2da15f52cc3)

[2021-11-29 16:09] Maroyafaied commented on #1846
@Baymatt I added you on this issue since you've updated this before in issues #571 and #1266.

[2021-11-29 16:10] #1765 closed

[2021-11-29 16:24] lpgoldstein commented on #1846
@Maroyafaied how should we handle the "d"? It stands for - [d] In order to avoid disclosure of information for specific taxpayers, these data have been deleted.  Data are included in appropriate totals. My thought it just to include a note at the bottom explaining that. We can't back into the number either because there are several cells that have a d listed instead of a number for 2020.
![image](

[2021-11-29 16:26] mcharg commented on #1810
@daniel-coleman-1 I reviewed Explore Data and Query Data and added some comments about how to organize them.  Let me know if you want to jump on a call to discuss.

[2021-11-29 16:52] Maroyafaied commented on #1846
@lpgoldstein I think we should only report the 131,231 for subsurface mining since that's all that was reported and we can't figure out what the d was from the total.

[2021-11-29 17:58] daniel-coleman-1 commented on #1805
https://doimspp-my.sharepoint.com/:w:/g/personal/mchargs_mms_gov/Ee3RloCHWkNLuC5v1owkYakBjPr08R_lxPtQcCHYFQ2Bxg?e=8MlaZl

These edits bring:
Offshore Oil and Gas to 8 from 15
Plan to 11 from 12
Lease to 9 from 13
Explore to 11 from 14
Develop to 12 from 14
Decommission and reclaim to 11 from 14.

[2021-11-29 18:19] daniel-coleman-1 commented on #1805
@lpgoldstein could you review?

[2021-11-29 21:24] Maroyafaied commented on #1826
@mojobnichols let's go ahead and get the download file to match the database. I didn't find any past conversations with DORC why we shouldn't. Also , I noticed in the query tool there's two N/A and also also we need to change "oil & gas" to "oil & gas (pre-production).
![image](https://user-images.githubusercontent.com/40175688/143945118-3fe68c45-6a9f-471e-986d-e37cf524ddc6.png)
![image](https://u

[2021-11-30 18:47] Maroyafaied opened #1856 "Security Vulnerability updates"
look into manually fixing the security vulnerabilities PR's that have been automatically by GitHub dependabot.  PR #1850, #1849, #1854.

[2021-11-30 23:18] #1833 closed

[2021-12-01 16:16] daniel-coleman-1 commented on #1802
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/doc.aspx?sourcedoc={8afb839b-090c-4f90-afef-0df8a528cf76}&action=edit

[2021-12-01 16:16] daniel-coleman-1 commented on #1803
https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B0CE15431-E61A-49B2-9A7E-DFA4695B9959%7D&file=HPF.docx&action=default&mobileredirect=true

[2021-12-01 16:46] cthomasONRR commented on #1783
@ryanwoldatwork After discussing with the group, we are going to hold off utilizing Touchpoints for now. I will get back in touch with you if we decide to go this route in the future. Thanks!

[2021-12-01 16:46] #1783 closed

[2021-12-01 16:47] cthomasONRR opened #1858 "Draft remote work narrative for Program Analysts"

[2021-12-01 16:56] #1842 closed

[2021-12-01 19:35] daniel-coleman-1 opened #1859 "Add content to WYMHM: December Edition"

[2021-12-01 19:58] cthomasONRR commented on #1831
@mojobnichols @Maroyafaied Here is a mock-up. I will need Mojo's help setting it up though.

Add a new paragraph here: https://revenuedata.doi.gov/downloads/
Under 'Federal Revenue by Company':
![image](https://user-images.githubusercontent.com/72526208/144304243-f82b8120-04ce-4616-ac7c-e0bbcec257d6.png)

**Historical Revenue**

This dataset offers revenue by calendar year from 1982 through 2002.

[2021-12-01 20:03] Maroyafaied commented on #1831
@cthomasONRR I think it would be better to add it under revenue before revenue by company. Also, this is only federal data without Native American data, I'd take out the word "production".

[2021-12-01 20:05] cthomasONRR commented on #1831
Here is my draft in Atom:
![image](https://user-images.githubusercontent.com/72526208/144305750-ecd88e9b-8ea7-4fa2-a650-43c664a0fef1.png)

[2021-12-01 20:06] Maroyafaied commented on #1831
@cthomasONRR you can just create the PR since you already did the work and one of us can help adding the actual file.

[2021-12-01 20:52] daniel-coleman-1 commented on #1810
@mcharg I've implemented changes in Explore Data, but left out numbers on the lower portion.  Hoping you have some guidance on setting numbers with this structure.

https://vp0fb7.axshare.com

[2021-12-01 21:20] #1846 closed

[2021-12-02 15:45] #1847 closed

[2021-12-02 16:41] cthomasONRR opened #1862 "Create data check template in PowerBI - Revenue Homepage"
This is a new issue for making a template for the Revenue Homepage data check.
(https://revenuedata.doi.gov/?tab=tab-revenue)

We would like this template to reflect the Monthly Revenue Homepage data checklist:
https://github.com/ONRR/nrrd/wiki/Checklists-for-Reviewing-Data

[2021-12-02 18:04] daniel-coleman-1 opened #1863 "November Analytics"

[2021-12-02 18:07] Maroyafaied commented on #1816
@mojobnichols can you please help with this.

[2021-12-02 18:12] Maroyafaied commented on #1803
@lpgoldstein please review

[2021-12-02 18:12] Maroyafaied commented on #1802
@lpgoldstein please review

[2021-12-02 20:54] mcharg commented on #1810
@daniel-coleman-1 I reviewed Explore Data > Revenue.  You should be able to extrapolate those comments to Production and Disbursements.

[2021-12-03 01:18] daniel-coleman-1 commented on #1810
@mcharg and @Maroyafaied thank you for the notes, I've updated it in a manner that I think best represents what you're thinking.  Could you take another look?

[2021-12-03 04:09] lpgoldstein commented on #1802
@daniel-coleman-1 I think these are good to go with the few comments and edits I made. Nice work! You can add me to review the PR as well.

[2021-12-03 04:10] lpgoldstein commented on #1803
@daniel-coleman-1 I think these are good to go with the few comments and edits I made. Nice work! You can add me to review the PR as well.

[2021-12-03 14:38] Maroyafaied commented on #1810
@daniel-coleman-1 I reviewed the homepage and listed my comments, here is a summary of my comments.

[2021-12-03 14:57] Maroyafaied commented on #1810
@daniel-coleman-1 sorry, I didn't finish my comment but I reviewed the homepage, it's looking good. Here are a summary of my comments
1. The "source" breakout is missing under revenue>yearly>fiscal year. It should be 0.2.1.1.1 before revenue type.
2.  0.3.1.2 should be called Recipient instead of revenue
3. I tagged @mcharg in the comments but I'm thinking the source files don't need to be listed

[2021-12-03 16:18] cthomasONRR commented on #1831
Next step is to set up a folder titled "historical-revenue" here:
\GitHub\nrrd\database\static\csv

[2021-12-03 19:47] daniel-coleman-1 commented on #1800
https://doimspp-my.sharepoint.com/:x:/g/personal/mchargs_mms_gov/EcTng99NUkpFmjzlaThQfcwB_tconReiLPWDBJFd1Ofa4w?e=E2nlW2

@cthomasONRR could you review?  There are some terms I have identified for removal, and some that are only found on the glossary page and nowhere else that I don't believe should be removed from the site.  For terms that should not be removed, I think we should look to intentio

[2021-12-03 20:57] cthomasONRR commented on #1800
@daniel-coleman-1
I did a first pass, but let me look at it again with fresh eyes on Monday.

[2021-12-03 21:13] mcharg commented on #1810
@daniel-coleman-1 I took another pass through Explore Data.  There are a number of my previous comments that weren't resolved.

[2021-12-03 21:41] daniel-coleman-1 commented on #1810
@mcharg can we jump on a call to discuss?  I know you're heading out for the weekend soon so Monday morning works

[2021-12-03 21:47] daniel-coleman-1 commented on #1800
Thanks @cthomasONRR!  Those notes are very helpful.

[2021-12-03 21:48] daniel-coleman-1 commented on #1800
Where do we host definitions?  I'm looking at the glossary mdx file and only see the glossary terms, without definitions:

![Screenshot 2021-12-03 135914](https://user-images.githubusercontent.com/83892362/144676997-54f56d0a-2a03-4e50-9907-142551dc6202.png)

I'll bring this up at sync up

[2021-12-06 13:56] Maroyafaied commented on #1800
@daniel-coleman-1 the glossary terms are under scrc>components>glossary.mdx Please let me know which terms you recommend removing before doing so. Thanks

![image](https://user-images.githubusercontent.com/40175688/144858488-95fe515c-c221-40de-a9cb-f382e3297c99.png)

[2021-12-06 14:21] cthomasONRR commented on #1800
@daniel-coleman-1 OK I reviewed with fresh eyes and added an explanation for all terms in question for removal. Let me know if you have any questions!

[2021-12-06 14:22] mcharg commented on #1810
@daniel-coleman-1 Sorry, I'd already logged off for the day on Friday.  I sent you an invite for a call this morning.

[2021-12-06 16:52] daniel-coleman-1 commented on #1810
@mcharg thanks for chatting earlier, I have updated the sitemap with the changes we discussed:
https://vp0fb7.axshare.com

[2021-12-06 17:00] Maroyafaied commented on #1800
@daniel-coleman-1 @cthomasONRR I reviewed and added my comments, I disagreed with several terms being removed since they are currently mentioned on the website.  There are no terms in the glossary that need us to create content or pages on the website, the are all relevant to the current content.

[2021-12-06 17:13] daniel-coleman-1 commented on #1800
@cthomasONRR @Maroyafaied Based on your feedback I recommend we remove the following terms:

- Civil Society
- Gross Domestic Product (GDP)
- kWh

We need to come to consensus on the following term:
- Variance floor

[2021-12-06 17:20] mcharg opened #1864 "Disbursements cards are displaying weird"
These are the nationwide and Nevada cards on the live site in Chrome.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/16abe56a-7de9-45e6-a1c3-84e8a1363773)

[2021-12-06 17:33] mcharg commented on #1810
@daniel-coleman-1 I took another pass through Explore Data and Query Data.  You need to go through the site with a fine toothed comb and see what changes when you interact.  That's all I'm doing when I review and I shouldn't have to be documenting as many things as I am.

[2021-12-06 17:58] Maroyafaied commented on #1800
@mcharg @lpgoldstein can you please give your input if we should keep or remove the term "Variance Floor". Thanks

[2021-12-06 17:58] mcharg opened #1865 "Links below the homepage charts are inconsistent"
I think they accidentally got taken out when we did the new charts, but they're back in now only for revenue.  We need to either have them on all tabs or none.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/8ddabc4d-8997-43b4-9d40-ec38973818a0)

[2021-12-06 17:59] mcharg commented on #1800
Where do we have it on the site?

[2021-12-06 18:00] mcharg commented on #1800
It's not coming up in search results.

[2021-12-06 18:10] #1803 closed

[2021-12-06 18:10] #1802 closed

[2021-12-06 18:31] Maroyafaied commented on #1856
Updating lib js might fix this.

[2021-12-06 18:32] Maroyafaied commented on #1856
PR #1502

[2021-12-06 19:21] Maroyafaied commented on #1800
@mcharg it's not anywhere on the website and I didn't think it was relevant so my recommendation is to remove it.

[2021-12-06 19:28] mcharg commented on #1800
If it's not on the website, we don't need it.

[2021-12-06 19:34] Maroyafaied commented on #1800
@daniel-coleman-1 you can go ahead and remove variance floor. Thanks

[2021-12-06 19:36] daniel-coleman-1 commented on #1800
@Maroyafaied @cthomasONRR @mcharg the following terms will be removed in the PR:

- Civil Society
- Gross Domestic Product (GDP)
- kWh
- Variance floor

[2021-12-07 17:21] daniel-coleman-1 commented on #1812
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/doc.aspx?sourcedoc={f45f634e-99e9-4f50-942f-720e9c4d0733}&action=edit
@lpgoldstein could you review?

[2021-12-07 17:21] daniel-coleman-1 commented on #1806
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/doc.aspx?sourcedoc={5a278407-eb5f-4d2d-b496-a088dd5a3312}&action=edit
@lpgoldstein could you review?

[2021-12-07 17:24] daniel-coleman-1 commented on #1811
https://doimspp-my.sharepoint.com/personal/mchargs_mms_gov/_layouts/15/doc.aspx?sourcedoc={81e91666-0f14-41aa-978b-40c591d2fef4}&action=edit

@lpgoldstein could you review?

[2021-12-07 17:55] daniel-coleman-1 commented on #1859
https://blog-nrrd.doi.gov/breaking-down-silos-by-cross-training/

[2021-12-07 19:00] Maroyafaied commented on #1859
@daniel-coleman-1 this is the Dec doc to add content to https://doimspp.sharepoint.com/:w:/r/sites/ONRRWebContentTeam/_layouts/15/doc.aspx?sourcedoc=%7Bd271e26d-43a0-44a0-99a2-c7bb2d83ffe5%7D&action=edit&CID=6a960e27-f97b-3c03-f337-fecd5e5cb26b

[2021-12-07 19:43] lpgoldstein commented on #1811
@daniel-coleman-1 Looks good - just one edit

[2021-12-07 19:49] lpgoldstein commented on #1806
Looks good!

[2021-12-07 19:59] lpgoldstein commented on #1812
Looks good.

[2021-12-07 20:33] cthomasONRR opened #1866 "Review PowerBI Data Comparison Template"

[2021-12-07 20:43] #1858 closed

[2021-12-07 21:44] Maroyafaied opened #1867 "Add slide on NRRD improvements since EITI"
Request from Chris.. due 12/8/2021.

[2021-12-07 23:10] Maroyafaied commented on #1867
@mcharg here is my drafted slide, please let me know if I missed anything important or any changes you have. Thanks

https://doimspp-my.sharepoint.com/:p:/r/personal/faiedm_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7BA7E49FDF-21F5-4D8D-AF01-CB24BA288623%7D&file=Presentation1.pptx&action=edit&mobileredirect=true&DefaultItemOpen=1&ct=1638918424928&wdOrigin=OFFICECOM-WEB.START.OTHER&cid=7f54c321-f06a-4

[2021-12-08 17:18] cthomasONRR opened #1869 "Create "how-to" instructions for the PowerBI data check template"
On the NRRD wiki, I made a new page for you to write down instructions for how to use the PowerBI data check template. https://github.com/ONRR/nrrd/wiki/PowerBI-Templates

[2021-12-08 17:21] cthomasONRR opened #1870 "PowerBI - Data comparison template for Disbursements"
Create a template to compare the downloaded versus raw data for Disbursements

[2021-12-08 17:22] cthomasONRR opened #1871 "PowerBI - Data comparison template for Production"
Create a template to compare the downloaded versus raw data for Production

[2021-12-08 19:43] daniel-coleman-1 commented on #1805
@lpgoldstein this is ready for your review:

https://doimspp-my.sharepoint.com/:w:/r/personal/mchargs_mms_gov/_layouts/15/Doc.aspx?sourcedoc=%7B8096D1ED-5A87-4B43-B82E-6FD68C2461A9%7D&file=Offshore%20Oil%20%26%20Gas.docx&action=default&mobileredirect=true

[2021-12-08 20:19] Maroyafaied commented on #1805
@cthomasONRR can you please review this since @lpgoldstein is out.

[2021-12-08 20:41] lpgoldstein commented on #1805
@cthomasONRR if you haven't started on this yet - I'm back and can do it.

[2021-12-08 20:43] cthomasONRR commented on #1805
@Maroyafaied @lpgoldstein I just finished reviewing- looks good to me! I attempted to try and lower the Grade 11 sections, but no luck.

[2021-12-08 20:48] daniel-coleman-1 commented on #1800
@cthomasONRR the current definition for Geothermal - Sulfur is as follows:
"Geothermal byproducts that is commercially recovered from produced geothermal fluids"
I'd like to change the "is" to "are," is that correct? So it would be:
"Geothermal byproducts that are commercially recovered from produced geothermal fluids"

[2021-12-08 20:51] cthomasONRR commented on #1800
@daniel-coleman-1 Yes, I'm good with that change. Looks like a grammar error.

[2021-12-09 15:51] cthomasONRR opened #1872 "Raw and Downloaded Data Comparison - Refining upload methodology"
Make methodology to upload new CSV files within PowerBI more streamlined.

[2021-12-09 15:51] #1794 closed

[2021-12-09 16:44] cthomasONRR commented on #1866
Reviewed with Kiara. She is going to refine the way we will have to upload new monthly data into the template. She will also work on writing instructions in the wiki.

[2021-12-09 16:44] #1866 closed

[2021-12-09 18:32] Maroyafaied opened #1873 "Renewable snapshot"
Nathan would like us to set up a meeting within the next 1-2 weeks  to discuss ideas for Kimbra's request.

[2021-12-09 18:39] Maroyafaied commented on #1873
One idea is research if EIA has any renewable data/visuals we can pull into an automated snapshot.

[2021-12-09 18:43] mcharg commented on #1873
@Maroyafaied Did you get clarification about whether Geothermal counts as renewable?

[2021-12-09 18:44] mcharg commented on #1873
We could pull together a quick design studio and go over the problem next week in the intern meeting and solutions the following week.

[2021-12-09 19:03] Maroyafaied commented on #1873
@mcharg Yes, geothermal would be considered a renewable. A design studio is a good idea, I'll try to set up a meeting with Nathan on Monday to get a better idea of what their vision is.

[2021-12-09 19:20] #1816 closed

[2021-12-09 20:55] cthomasONRR opened #1875 "Upload and review monthly revenue and production data"
November 2021 Revenue
August 2021 Production

[2021-12-10 17:42] mcharg opened #1876 "Create language about MLRS for troubleshooting guide"
LR2000 is changing to MLRS in February, so we'll need language to help people with that.

[2021-12-13 17:04] #1811 closed

[2021-12-13 17:04] #1812 closed

[2021-12-13 18:16] #1867 closed

[2021-12-14 15:24] Maroyafaied opened #1877 "Fix broken link in reclamation page"
This link is broken, we received an email about it in the nrrd mailbox and I don't believe it was caught in the content audit.

https://revenuedata.doi.gov/how-revenue-works/reclamation/

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/c2d17336-334b-4191-9f50-6b22ec7d62ed)

[2021-12-14 15:25] #1806 closed

[2021-12-14 15:25] #1831 closed

[2021-12-14 19:30] Maroyafaied opened #1878 "Renewable Snapshot Design Studio (1/2)"
This session is to define the problem statement based on our meeting with the program manager.

Summary from meeting

- Keep it simple , start with data we own then explore BLM's data
- One page, downloadable & printable
- Include geothermal production
- Include wind and geothermal revenue

[2021-12-14 19:32] Maroyafaied opened #1879 "Renewable Snapshot Design Studio (2/2)"
Design studio presentation saved [here](https://doimspp.sharepoint.com/:p:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7B595E7C7B-7180-4C29-940A-F55539764F1C%7D&file=Renewables%20Design%20Studio.pptx&action=edit&mobileredirect=true)

[2021-12-14 20:18] mcharg commented on #1878
Design studio info.
https://doimspp.sharepoint.com/:p:/r/sites/NRRD/Shared%20Documents/General/NRRD/Design/Renewables%20Fact%20Sheet/Renewables%20Design%20Studio.pptx?d=w595e7c7b71804c29940af55539764f1c&csf=1&web=1&e=A6JJft

[2021-12-14 20:21] mcharg opened #1880 "Make user type triangle and agile slides accessible"
They have contrast, alt text, and reading order issues.

[2021-12-14 20:37] #1805 closed

[2021-12-14 20:37] #1800 closed

[2021-12-14 22:45] daniel-coleman-1 commented on #1810
@Maroyafaied this is ready for review.

[2021-12-14 23:03] #1859 closed

[2021-12-14 23:16] Maroyafaied commented on #1810
Thanks I'll review, @mcharg can you review the query and explore data.

[2021-12-14 23:31] Maroyafaied commented on #1810
@daniel-coleman-1 I only looked at the homepage, these comments highlighted still need to be addressed that I mentioned in my previous review.
![image](https://user-images.githubusercontent.com/40175688/146095847-c7319726-a005-4184-aefb-d2dbc26ca3f2.png)

[2021-12-14 23:47] Maroyafaied commented on #1810
@daniel-coleman-1 I'm responding to your comment on the nrrd-git-feed channel, again please comment on the actual issue and not in that channel.  Here are pics of what I'm referring to, we can meet tomorrow if this still doesn't make sense.

Under fiscal year revenue, you need to add a box for the "Source" breakout like you have under calendar year.  It needs to go before revenue type like you hav

[2021-12-14 23:48] daniel-coleman-1 commented on #1810
@Maroyafaied ahhhh ok I understand what you're saying

[2021-12-15 14:05] Maroyafaied opened #1881 "Consistency with geothermal units in download production page"
@lpgoldstein I changed this issue to be just for the download production page, and will have @daniel-coleman-1 fix the geothermal units and spellings in issue # 1883

In the yearly production download page , we missed listing Geothermal-direct use (millions of gallons) and we also need to change  "utilization" to "use" and write out the the units like we have them in the glossary.  For example,  t

[2021-12-15 16:00] #1875 closed

[2021-12-15 16:37] mcharg commented on #1863
@daniel-coleman-1 On referring pages, you have the home page and archive reversed.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/241f3c85-0d2c-423a-b317-839878d11f4d)

[2021-12-15 16:41] mcharg commented on #1863
Everything else looks good.

[2021-12-15 21:37] cthomasONRR commented on #1879
I uploaded my ideas to the PowerPoint.

[2021-12-15 21:52] mcharg commented on #1881
@daniel-coleman-1 There are also a couple typos for sulfur on the glossary page.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d5dde334-a93d-4118-9b00-30e4ed11f5c5)

[2021-12-15 21:53] mcharg commented on #1881
More typos.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/acbe2fc2-91b0-41c5-9ab2-1549820df207)

[2021-12-15 21:54] mcharg commented on #1881
And more.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/45ff26f7-533b-4a09-a7b4-efdb1a24dae3)

[2021-12-15 21:56] mcharg opened #1882 "Downloading from the query tool has a "placeholder" for spark line"
Has it always done this?  We should either have the spark line or omit the column.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/9d1d27c9-01ca-41c6-ae7e-8439f27abbc6)

[2021-12-16 00:07] Maroyafaied opened #1883 "Fix Misspellings in Glossary & change Geothermal term "Utilization" to "Use""
![image](https://user-images.githubusercontent.com/40175688/146283662-964d68c9-18a5-4851-8208-921ef9f8266f.png)
![image](https://user-images.githubusercontent.com/40175688/146283781-6fd1a5ba-92b1-4e63-a299-a2d5b6db0e96.png)
![image](https://user-images.githubusercontent.com/40175688/146283925-a75a1d6b-64b0-46ba-acee-690c312bd849.png)
![image](https://user-images.githubusercontent.com/40175688/1462

[2021-12-16 13:30] Maroyafaied opened #1886 "Explore data - oil & gas (pre-production) shows up as commodity in summary card"
Found this in explore data for Atlantic offshore

![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/7e093dd2-0519-4e74-b958-5a006d09faab)

[2021-12-16 15:21] Maroyafaied commented on #1810
@daniel-coleman-1 I made a comment on 3.0 Download Data to add a box for this historical revenue data we just added to the website and the files. Please let me know when that update is made and when the homepage is ready for review again. ![image.png](https://images.zenhubusercontent.com/5c58acad07cc4d6f39e54f67/521e9e1d-23ea-4664-b9ea-ff2c5877c654)

[2021-12-16 15:28] mcharg commented on #1810
@daniel-coleman-1 It doesn't look like you resolved any of my comments on Explore Data and I noted which are still outstanding for Query Data.

[2021-12-16 15:46] daniel-coleman-1 commented on #1810
@mcharg I may not be understanding what you're trying to communicate, I'll take another look later today and may schedule some time for us to talk tomorrow to get on the same page

[2021-12-16 15:49] mcharg commented on #1810
@daniel-coleman-1 We've already walked through it and you didn't make the changes we talked about, so I added them as comments and you still didn't make the changes.  Not sure how much clearer I can be.

[2021-12-16 15:56] daniel-coleman-1 commented on #1810
@mcharg yes seems like a communication breakdown.  Let's get some time to talk.

[2021-12-16 18:09] #1863 closed

[2021-12-16 18:11] mcharg commented on #1873
Closing, since we have the design studio one.

[2021-12-16 18:11] #1873 closed

[2021-12-16 19:59] Maroyafaied commented on #1881
@lpgoldstein please fix the geothermal units in the download production page and @daniel-coleman-1 please fix the geothermal and other glossary issues in the glossary page that I assigned for next sprint (issue #1883)

[2021-12-16 21:57] lpgoldstein commented on #1881
@Maroyafaied This is what it looks like now. I kept the units uncapitalized because that's how we have it for all downloads pages.
![image](https://user-images.githubusercontent.com/39419003/146454984-df711d12-b9e8-4519-a5c7-b66d91adca76.png)

[2021-12-17 05:00] lpgoldstein opened #1888 "Create tracking sheet for adding pages to the CMS - part 2"
- [ ] References

Follow on to issue

[2021-12-17 05:02] #1888 closed

[2021-12-17 15:14] lpgoldstein opened #1889 "disbursements data november"

[2021-12-17 15:45] lpgoldstein opened #1891 "Create tracking sheet for adding pages to the CMS - part 4"
- [ ] compliance & enforcement

follow onto issue #1263

[2021-12-17 15:46] lpgoldstein opened #1892 "Create tracking sheet for adding pages to the CMS - part 5"
- [ ] Indian Resources

follow on to issue #1263

[2021-12-17 16:07] Maroyafaied commented on #1879
@mcharg here's my sketch. [https://app.zenhub.com/files/215585796/72f9bec6-4059-48d7-807e-0eb20ee96427/download](https://app.zenhub.com/files/215585796/72f9bec6-4059-48d7-807e-0eb20ee96427/download)

[2021-12-17 16:20] mcharg commented on #1883
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/5ff5a93f-d130-4737-bf90-f233083de462)

[2021-12-17 16:24] mcharg opened #1893 "Ensure all definitions are full sentences, not fragments"

[2021-12-17 16:27] #1881 closed

[2021-12-17 16:52] #1889 closed

[2021-12-20 15:01] mcharg opened #1894 "Research BLM renewable data"

[2021-12-20 15:02] mcharg opened #1895 "Axure training: The Basics"

[2021-12-20 15:14] cthomasONRR commented on #1886
@mojobnichols In explore data, when you select a specific commodity you will get other commodities aside from that selected commodity on the cards. Here are some examples.

First, I selected wind only, and the Offshore Atlantic card displays wind AND oil and gas (pre-production):
![image](https://user-images.githubusercontent.com/72526208/146789008-7a976286-a912-4f52-91e2-13d365e5bcd7.png)

Second

[2021-12-20 15:25] cthomasONRR commented on #1895
Working on the step-by-step training Axure has on its website: https://docs.axure.com/axure-rp/tutorials/

[2021-12-20 15:56] cthomasONRR commented on #1895
- [ ] Interactive Button
- [ ] Hiding and Showing Widgets
- [ ] Pass Text to Next Page
- [ ] Anchor Link
- [ ] Embedding Media
- [ ] Full Width Image or Banner
- [ ] Scrolling Region
- [ ] Rotating Carousel / Slideshow
- [ ] Navigation Menu
- [ ] Tooltips
- [ ] Tab Menu
- [ ] Accordion Menu
- [ ] Drag and Drop

[2021-12-20 19:39] #1895 closed

[2021-12-20 21:50] mcharg commented on #1879
@Maroyafaied All I'm seeing in the folder is a pdf of the existing fact sheet.

[2021-12-20 21:52] mcharg commented on #1879
Added my sketch to the PPT.

[2021-12-20 21:54] mcharg commented on #1879
@Maroyafaied I was able to recover your sketch from an email that said you'd uploaded it to the issue.  I'll add it to the PPT.

[2021-12-21 15:33] jkwonatx commented on #1879
Added my sketch and the design note to the PPT

[2021-12-21 16:14] #1872 closed

[2021-12-21 20:32] daniel-coleman-1 commented on #1879
Added my sketch to the PPT

[2021-12-22 13:37] #1879 closed

[2021-12-22 13:39] mcharg opened #1897 "Iterate on renewables design from design studio"
@mcharg to do a bar chart with renewables vs non-renewables.

@jkwonatx to explore what we can do with disbursements data and production data.

@cthomasONRR will do research on whether we can convert production numbers to lightbulbs.

[2021-12-22 13:39] mcharg commented on #1897
This is what it looks like with a stacked bar chart with renewables vs. non-renewables.  You can barely see the renewables.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/65896d80-a5a9-4ece-b82c-564159fef7fa)

[2021-12-22 14:22] mcharg commented on #1897
The percentages are mostly less than 1%, so they also wouldn't show up on a pie chart.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/2fae05d1-83fa-4f61-9e43-1c04632a47e4)

[2021-12-22 14:27] mcharg commented on #1897
Here's an option that shows the tiny slice for renewables along with a breakout of geothermal and wind within that slice.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/651084fb-1dce-4eb8-9e11-889546f5ae00)

[2021-12-22 14:42] mcharg commented on #1897
Spreadsheet with the numbers I used, in case anyone else wants to play with it.
https://doimspp.sharepoint.com/:x:/r/sites/NRRD/Shared%20Documents/General/NRRD/Design/Renewables%20Fact%20Sheet/Sketches/RenewableRevenue.xlsx?d=w2ccb7ea61c10484f8fc2ac2a2b7187cc&csf=1&web=1&e=G7ndIv

[2021-12-22 15:38] #1894 closed

[2021-12-22 18:49] mcharg opened #1898 "Review OGOR B data from DORC"
See email from Donna.

[2021-12-23 16:55] lpgoldstein commented on #1898
[Raw data](https://teams.microsoft.com/l/file/E761407E-F62C-4388-BEE4-DE0D0062463E?tenantId=0693b5ba-4b18-4d7b-9341f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FData%2FOGOR%20B%2FProduction_Test_FileCY10_20%20as%20of%2012_20_21.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD&serviceName=teams&thread

[2021-12-23 17:49] jkwonatx commented on #1897
https://miro.com/welcomeonboard/aExlNUp4aEpMSENwaGJrQzJxaFN3UHhqVmFxTDZZbEVhOXAxY0RCempxeXlVSEcySGhHYUM0dlB3UlRqb3NyV3wzMDc0NDU3MzYxNDk2OTQ0ODI3?invite_link_id=821363958953

[2021-12-23 21:38] jkwonatx commented on #1897
update: 12/23 -- I think this exercise is going somewhere. I put this together based on what I remember, so the next step I want to take is to refer to the design studio presentation to fill in blanks and check for any misunderstanding on my part.

![all](https://user-images.githubusercontent.com/85380376/147293227-b1e3ea40-f01e-4c3c-90ee-cbbbf7292d12.png)
![1](https://user-images.githubuserconten

[2021-12-27 16:15] #1883 closed

[2021-12-27 16:15] #1877 closed

[2021-12-27 16:42] Maroyafaied commented on #1898
- Review if any disposition codes should be removed
- Review if database can show volumes as zero to match raw data
- Follow up with DORC regarding meeting with Nathan about zero values and rounding to two decimal places
- Follow up with DORC regarding meeting with BLM about proprietary federal solids data

[2021-12-28 17:09] cthomasONRR commented on #1897
I talked with Maroya about converting production numbers to lightbulbs. She would like to keep our first draft to have existing data only. If Kimbra wants something else, we can then add this concept to it.

I did some initial research, and found some very rough estimates for powering homes for a year. This seemed be be a better comparison than lightbulbs, because we are dealing with such large pr

[2021-12-30 15:06] Maroyafaied opened #1899 "Q1 Metrics"

[2021-12-30 15:07] Maroyafaied opened #1900 "Q1 Report to Nathan"

[2021-12-30 15:08] Maroyafaied opened #1901 "December Analytics"

[2021-12-30 15:10] Maroyafaied opened #1902 "Review Resumes for vacancy"

[2022-01-03 15:36] mcharg commented on #1897
@jkwonatx Your mind map is a great way to visualize the problem.

[2022-01-03 15:45] Maroyafaied opened #1903 "Epic: Carlsbad Caverns"
NRRD:
Review OGOR B data
Publish GoMESA
Revenue by company columns
Renewable fact sheet design
Continue PowerBI dashboards and instructions
Disbursement historical data
Update Javascript library
Review resume & interview for UX vacancy
Finish sitemap
Content guides (blog and cognitive disability)
Glossary definitions full sentences
Bugs
Q1 Metrics
Q1 Report to Nathan
Analytics
Onboard Isabel

ONRR

[2022-01-03 18:47] Maroyafaied opened #1904 "Historical Disbursement files"

[2022-01-03 19:11] #1839 closed

[2022-01-03 21:34] Maroyafaied opened #1905 "DORC Metrics - FY 2021"
I spoke with Melissa and here is what was decided, She should be sending a report for # of hours spend pulling data for our team for FY 2021.

- For Fiscal year 2021, Melissa will send us a report for number of hours spend pulling data for our team.

- Moving forward, the DORC team will categorize data requests that could be be made public and send us the number of requests by Quarter.

- The DORC

[2022-01-04 13:17] Maroyafaied commented on #1898
Review material for our meeting tomorrow

[OGOR B Prototype ](https://dwb2kg.axshare.com/#id=kgdh1w&p=usertesting)

[OGOR B Disposition Categories ](https://doimspp.sharepoint.com/:x:/r/sites/NRRD/_layouts/15/Doc.aspx?sourcedoc=%7BABCBCB23-4E64-48A6-9029-AA3F864277FD%7D&file=OGOR.B.Disposition.Categories.Glossary-2.xlsx&action=default&mobileredirect=true)

[2022-01-04 16:52] cthomasONRR opened #1906 "File Financial Disclosure Form"
Putting this as an issue for myself so I won't forget, and also it's pretty time-consuming.

[2022-01-04 21:22] Maroyafaied opened #1907 "Look into disbursement data for renewable"

[2022-01-04 21:47] jkwonatx commented on #1897
How we'd describe (qualitatively) a successful fact sheet:

- Use data visualization we already have
- Summarizes our data on the renewables effectively
- Useful to the users
 *consider including a section for the content -- insightful, educational

 I'll keep them in mind as I work on the prototypes. I appreciate all the positive feedback on my little Miro board. Hope that was worth your while.

[2022-01-05 13:51] cthomasONRR commented on #1897
I saved the renewables disbursement data excel sheet [here](https://teams.microsoft.com/l/file/5470509C-E945-460C-81E8-8416C8C7555C?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FDesign%2FRenewables%20Fact%20Sheet%2FDisbursements_Renewables.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoin

[2022-01-05 13:57] Maroyafaied commented on #1897
@cthomasONRR thanks for working on this, the negative numbers for Geothermal would raise questions and need to be explained.  I still think we start with a prototype that doesn't involve new visuals and have the disbursement visuals in another prototype in case there's interest in it.

[2022-01-05 13:57] cthomasONRR commented on #1907
The renewables disbursement excel is saved [here](https://teams.microsoft.com/l/file/5470509C-E945-460C-81E8-8416C8C7555C?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FDesign%2FRenewables%20Fact%20Sheet%2FDisbursements_Renewables.xlsx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsi

[2022-01-05 14:02] cthomasONRR commented on #1897
@Maroyafaied I agree. I think my last pie chart with just 2021 grand totals (no recipient breakdowns) is the way to go if we're asked to add disbursements.

[2022-01-05 14:09] #1907 closed

[2022-01-05 16:28] #1906 closed

[2022-01-05 17:26] cthomasONRR commented on #1886
@Maroyafaied @mcharg @mojobnichols

After looking at this issue more closely, I do not think that there is a bug/error here. The summary cards list the top 3 commodities for each location selected, regardless of which commodity you have decided to filter to.

Here's an example: I have geothermal, wind, and oil selected for the commodity filter. When I click on New Mexico, the summary card lists oi

[2022-01-05 17:45] mcharg commented on #1897
I agree, as well.

[2022-01-05 17:45] mcharg commented on #1897
We could also do a circle chart of the last option instead of a bar, if we want to use a chart style we already have.

[2022-01-05 17:54] mcharg commented on #1886
@cthomasONRR We have an issue to add an indicator of what commodity you have selected that might address this.
https://app.zenhub.com/workspaces/open-data-design--development-5464fa79c3cc8d7f4c384eaf/issues/onrr/nrrd/1437

[2022-01-05 17:54] Maroyafaied commented on #1886
@cthomasONRR I must of been thinking that I was in the production filter and not revenue in explore data but you are right there's no bug here, by design the summary card for revenue shows all commodities by location.  Sorry for the confusion on my part, I'm good closing this issue and I don't think there's a need to look into this as of now. @mcharg @mojobnichols do you agree?

[2022-01-05 17:59] cthomasONRR commented on #1886
@mcharg I looked at the OGOR Production prototype, and I'm not sure how that would work in cases where multiple commodities are selected... we can set up a meeting to discuss if you'd like.

[2022-01-05 18:15] #1886 closed

[2022-01-05 18:45] Maroyafaied commented on #1886
@cthomasONRR you can't select multiple commodities in the production filter for explore data.

[2022-01-05 21:35] mcharg opened #1908 "Wireframe for GIS team"

[2022-01-05 21:36] mcharg opened #1909 "Review documentation for GIS team"

[2022-01-06 15:23] Maroyafaied commented on #1900
@cthomasONRR @lpgoldstein @mcharg please review, Nathan asked for super simple 1 page summary. Thanks

https://teams.microsoft.com/l/file/EFB37191-D6F9-4749-9858-72CB706F15F8?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FAdmin%2FGoals%20%26%20Accomplishments%2FFY%2022%2FQ1%20Accomplishments

[2022-01-06 15:33] mcharg commented on #1900
@Maroyafaied Looks good.

[2022-01-06 15:36] cthomasONRR commented on #1900
@Maroyafaied Looks good, I can't think of anything else to add.

[2022-01-06 16:02] lpgoldstein commented on #1900
@Maroyafaied I just capitalized powerpoint, but it looks good! We've accomplished so much already this year!

[2022-01-06 17:19] #1900 closed

[2022-01-06 17:48] Maroyafaied commented on #1898
I met with the DORC team today, the discussion was mainly around rounding to decimal places but I let them know that we would like for them to provide us a column with the actual disposition code along with the description.  I also emailed Nadia about calculation total production  for oil and gas from disposition codes.

[2022-01-06 19:23] Maroyafaied commented on #1904
We met with DORC and Darrel's team, @mentastc will combine both files into one excel sheet from 1982-2002 and @lpgoldstein will help review the consolidated file before publishing.  Darrel's team will look into any discrepancies and get back to us by next week.

[2022-01-07 17:26] cthomasONRR commented on #1898
Donna emailed us a new excel with Disposition Code numbers and descriptions.

I did a comparison using CY 2020 data. There are 5 commodities that did not match and will need a list of specific disposition codes that contribute to the production number.

- Coal: The OGOR data was **less** than the NRRD Production Downloaded data.
- Gas
- Geothermal - Electrical Generation, Kilowatt Hours: The OGOR

[2022-01-07 18:23] cthomasONRR commented on #1898
When comparing data CY 2010-2020:

The following commodities do not match, and the OGOR values are LESS than the NRRD yearly production download values:
- Coal
- Oil
- Salt

The following commodities do not match, and the OGOR values are MORE than the NRRD yearly production download values:
- Gas
- Geothermal - Electrical Generation, Kilowatt Hours
- Leonardite
- Sand/Gravel
- Soda Ash

The follow

[2022-01-07 19:30] cthomasONRR opened #1910 "Upload & Review September 2021 monthly Production Data"

[2022-01-07 19:31] cthomasONRR opened #1911 "Upload & Review December 2021 monthly Revenue Data"

[2022-01-07 19:52] lpgoldstein opened #1913 "Check historical disbursements file"
Check combined historical disbursements file 1982-2002

[2022-01-07 23:43] #1913 closed

[2022-01-09 11:01] #1905 closed

[2022-01-10 16:31] Maroyafaied commented on #1882
@cthomasONRR look into if this is happening in all datasets or just production. @mojobnichols get rid of that column in downloads.

[2022-01-10 16:35] daniel-coleman-1 commented on #1893
I think some items are served better by having a full sentence definition, and some items are served better by having fragment definitions.  The best example I'm seeing is the E section:
![Screenshot 2022-01-10 093223](https://user-images.githubusercontent.com/83892362/148802562-fd967af1-1cc0-4bcf-8bc5-a6b00c527cf5.png)
EIS and EITI seem to me to be clearly better served with full sentences, while

[2022-01-10 16:55] #1142 closed

[2022-01-10 16:56] #1098 closed

[2022-01-10 16:59] Maroyafaied commented on #1352
@cthomasONRR check if this has been fixed.

[2022-01-10 18:34] Maroyafaied opened #1914 "List of voluntary censenus standards our websites follow"
The data governance team received a DOI data call asking for us to identify use of voluntary common consensus standards .  Goal is to identify commonly used standards in lieu of government approved standards. Some examples Ryan gave are; schema.org, Dublin core meta data ,

[2022-01-11 14:49] Maroyafaied commented on #1914
Responded to Ryan via email.

[2022-01-11 14:49] #1914 closed

[2022-01-11 15:54] Maroyafaied commented on #1898
@cthomasONRR  Thanks for analyzing the files. Usually production numbers change due to change of reporting based on when the dataset is pulled. For example , when DORC provides us CY 21 production data, they will provide the data back from 2003 and we update all the years with the new production data but it's usually not a significant change.

Were the volumes significantly different for the commo

[2022-01-11 16:12] mcharg commented on #1901
@daniel-coleman-1 I'm seeing the archive is the third most landed on page, not AML.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/b5deeade-32cf-4b3a-8a03-4d5a4e119b13)

[2022-01-11 16:15] mcharg commented on #1901
@daniel-coleman-1 Chrome desktop number is incorrect.
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/20ea6721-06a0-42ec-872f-60033d0cd6ee)

[2022-01-11 17:35] jkwonatx commented on #1897
[Jae's Board - Renewable Fact Sheet.pdf](https://github.com/ONRR/nrrd/files/7848761/Jae.s.Board.-.Renewable.Fact.Sheet.pdf)

[2022-01-11 17:38] jkwonatx commented on #1897
[Jae's Board - Renewable Fact Sheet ver1.pdf](https://github.com/ONRR/nrrd/files/7848779/Jae.s.Board.-.Renewable.Fact.Sheet.ver1.pdf)

[2022-01-11 17:45] daniel-coleman-1 commented on #1901
Corrected, thanks @mcharg

[2022-01-11 17:55] jkwonatx commented on #1897
@cthomasONRR the graphics you made above look great! I'll review them before today's interns meeting.

[2022-01-11 17:58] #1901 closed

[2022-01-11 22:20] jkwonatx commented on #1897
Before the next interns meeting, I'll create a hi-fidelity sketch using Axure based on the feedback I received today at the interns meeting. Thank you all for your thoughts and feedback.

[Jae's Board - Renewable Fact Sheet ver2.pdf](https://github.com/ONRR/nrrd/files/7850207/Jae.s.Board.-.Renewable.Fact.Sheet.ver2.pdf)

[2022-01-12 01:45] jkwonatx commented on #1897
Axure version.

https://3tp68j.axshare.com

[2022-01-12 13:51] mcharg commented on #1897
@jkwonatx I added comments on the Axure prototype.

[2022-01-12 14:03] mcharg opened #1915 "Fact Sheet PDF has accessibility errors"
Not sure if there's anything we can do, since it's generated as a print job.  I'm getting 21 errors.
<br>
![image.png](https://images.zenhubusercontent.com/5c589fe5e180620812ea22aa/d450da82-aef3-468b-a2e5-4073725ed7e1)
<br>
[Fact Sheet PDF](https://app.zenhub.com/files/215585796/f938c558-07dc-4c43-a092-7f214d701d12/download)

[2022-01-12 14:05] jkwonatx commented on #1897
Thank you! @mcharg I read the comments. I'll make changes this weekend.

[2022-01-12 14:09] cthomasONRR commented on #1898
@Maroyafaied
Here's a screengrab of all the commodities that did not match between the 2 datasets for 2010-2020. My pivot excel is located [here](https://teams.microsoft.com/l/file/09B1677B-8452-4324-BE54-12974F48B34A?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=xlsx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FNRRD%2FShared%20Documents%2FGeneral%2FNRRD%2FData%2FOGOR%20B%2FPR

[2022-01-12 16:23] cthomasONRR commented on #1898
@Maroyafaied
Update on disposition codes: All codes in the OGOR dataset are present in the Glossary excel, and vice-versa. My confusion was because I didn't realize there was a gas tab on the glossary excel. Everything matches up!

[2022-01-12 19:19] Maroyafaied commented on #1898
I updated the DORC team with our findings, we will analyze and compare production data against this data set once we receive and update CY production file in February.

[2022-01-12 19:19] #1898 closed

[2022-01-12 19:23] Maroyafaied commented on #1826
@mojobnichols @lpgoldstein  We should be receiving CY 2021 revenue by company data in the coming weeks so I will move this issue out of this sprint and approach it once we're updating the data set.

[2022-01-13 13:46] Maroyafaied commented on #1904
This has been created and reviewed. I will create another issue to upload the file in a PR.